<section class="">
  <div class="row justify-content-between align-items-center | mb">
    <div class="col-12 col-sm-6">
      <h1 class="fs-600 text-gray-900 fw-bold">
        <ng-container *ngIf="formMode === FormMode.Modify; else viewBlock">
          <ng-container *ngIf="parentId && !elementId; else addOrEdit">
            {{ "shared.addInternalSector" | translate }}
            {{ "shared.to" | translate }} ({{ this.parentName }})
          </ng-container>

          <ng-template #addOrEdit>
            <ng-container *ngIf="!elementId">
              {{ "shared.addNewSector" | translate }}
            </ng-container>

            <ng-container *ngIf="elementId">
              {{ "ActionsModule.AddSectorPage.editSectorDetails" | translate }}
            </ng-container>
          </ng-template>
        </ng-container>

        <ng-template #viewBlock>
          {{ "ActionsModule.AddSectorPage.viewSectorDetails" | translate }}
        </ng-template>
      </h1>
    </div>
  </div>

  <form autocomplete="off" [formGroup]="form">
    <div class="row mb">
      <!-- start title -->
      <div class="col-12 col-md-6 col-lg-6 pt-2 mat-form-field-div" [ngClass]="{
          'mat-form-field-div-error':
            form.get('title')?.errors && isTouched('title'),
          'mat-form-field-div-success':
            !form.get('title')?.errors && isTouched('title')
        }">
        <div class="label-container">
          <label for="title">
            {{ "shared.titleAr" | translate }}
          </label>
        </div>
        <mat-form-field appearance="outline">
          <input matInput name="title" formControlName="title" placeholder="{{ 'shared.titleAr' | translate }}" />
          <div class="flag-div">
            <img src="assets/icons/success-input.svg" *ngIf="!form.get('title')?.errors && isTouched('title')" />
            <img src="assets/icons/error-input.svg" *ngIf="form.get('title')?.errors && isTouched('title')" />
          </div>
        </mat-form-field>

        <span class="span-error-message" *ngIf="
              form.get('title')?.errors?.['required'] &&
              isTouched('title')
            ">
          {{ "shared.titleRequired" | translate }}
        </span>

        <span class="span-error-message" *ngIf="
            form.get('title')?.errors?.['pattern'] &&
            isTouched('title')
          ">
          {{ "shared.arabicCharsRequired" | translate }}
        </span>
      </div>
      <!-- end title-->

      <!-- start title en-->
      <div class="col-12 col-md-6 col-lg-6 pt-2 mat-form-field-div" [ngClass]="{
          'mat-form-field-div-error':
            form.get('titleEn')?.errors && isTouched('titleEn'),
          'mat-form-field-div-success':
            !form.get('titleEn')?.errors && isTouched('titleEn')
        }">
        <div class="label-container">
          <label for="titleEn">
            {{ "shared.titleEn" | translate }}
          </label>
        </div>
        <mat-form-field appearance="outline">
          <input matInput name="titleEn" formControlName="titleEn" placeholder="{{ 'shared.titleEn' | translate }}" />
          <div class="flag-div">
            <img src="assets/icons/success-input.svg" *ngIf="!form.get('titleEn')?.errors && isTouched('titleEn')" />
            <img src="assets/icons/error-input.svg" *ngIf="form.get('titleEn')?.errors && isTouched('titleEn')" />
          </div>
        </mat-form-field>

        <span class="span-error-message" *ngIf="
            form.get('titleEn')?.errors?.['required'] &&
            isTouched('titleEn')
          ">
          {{ "shared.titleRequired" | translate }}
        </span>

        <span class="span-error-message" *ngIf="
            form.get('titleEn')?.errors?.['pattern'] &&
            isTouched('titleEn')
          ">
          {{ "shared.englishCharsRequired" | translate }}
        </span>
      </div>
      <!-- end title en-->
    </div>

    <div class="row mb">
      <!-- start descriptionAr -->
      <div class="col-12 col-md-6 col-lg-6 pt-2 mat-form-field-div" [ngClass]="{
          'mat-form-field-div-error':
            form.get('description')?.errors && isTouched('description'),
          'mat-form-field-div-success':
            !form.get('description')?.errors && isTouched('description')
        }">
        <div class="label-container">
          <label for="descriptionAr">
            {{ "shared.descriptionAr" | translate }}
          </label>
        </div>
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="description" name="descriptionAr"
            placeholder="{{ 'shared.descriptionAr' | translate }}" rows="4"></textarea>
        </mat-form-field>
        <span class="span-error-message" *ngIf="
          form.get('description')?.errors?.['pattern'] &&
          isTouched('description')
        ">
          {{ "shared.arabicCharsRequired" | translate }}
        </span>
      </div>
      <!-- end descriptionAr -->

      <!-- start description en-->
      <div class="col-12 col-md-6 col-lg-6 pt-2 mat-form-field-div" [ngClass]="{
          'mat-form-field-div-error':
            form.get('descriptionEn')?.errors && isTouched('descriptionEn'),
          'mat-form-field-div-success':
            !form.get('descriptionEn')?.errors && isTouched('descriptionEn')
        }">
        <div class="label-container">
          <label for="descriptionEn">
            {{ "shared.descriptionEn" | translate }}
          </label>
        </div>
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="descriptionEn" name="descriptionEn"
            placeholder="{{ 'shared.descriptionEn' | translate }}" rows="4"></textarea>
        </mat-form-field>
        <span class="span-error-message" *ngIf="
            form.get('descriptionEn')?.errors?.['pattern'] &&
            isTouched('descriptionEn')
          ">
          {{ "shared.englishCharsRequired" | translate }}
        </span>
      </div>
      <!-- end description en-->
    </div>

    <!--start button actions -->
    <div class="row | footer-container">
      <div class="col-6 d-none d-sm-block"></div>
      <div class="col-6 | btn-container">
        <button class="cancel-btn" (click)="onCancel()" mat-flat-button color="primary" data-appearance="outline">
          {{ "shared.cancel" | translate }}
        </button>
        <button *ngIf="formMode === FormMode.Modify" class="save-btn" (click)="onSubmit()" mat-flat-button
          [disabled]="!form.valid || disableSubmitBtn">
          {{ "shared.save" | translate }}
        </button>
      </div>
    </div>
    <!--End button actions-->
  </form>
</section>