<div class="grid">
  <div class="card">
    <div class="col-12 mb-3">
      <div *ngIf="cardData !== null && cardData !== undefined" class="info">
        <div class="row">
          <div class="col-12">
            <span class="body"> {{ 'shared.title' | translate }} : </span>

            <span class="body-bold">
              {{ cardData?.title || '-' }}
            </span>
          </div>
        </div>
        <hr class="gold-line" />
        <div class="row">
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'shared.container' | translate }}
              :
            </span>

            <span class="body-bold">
              {{ cardData?.transactionNumber || '-' }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'shared.sector' | translate }}
              :
            </span>

            <span class="body-bold">
              {{
                lang === 'ar' ? cardData?.sector?.title || '-' : cardData?.sector?.titleEn || '-'
              }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'shared.classification' | translate }}
              :
            </span>

            <span class="body-bold">
              {{
                lang === 'ar'
                  ? cardData?.classification?.title || '-'
                  : cardData?.classification?.titleEn || '-'
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <form autocomplete="off" [formGroup]="form">
      <div class="row">
        <p class="body-bold mb-3">{{ 'shared.basicImportData' | translate }}</p>
        <!-- Title -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.title' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-input
            formControlName="title"
            [placeholder]="'shared.titlePlaceholder'"
            [showSearchIcon]="false"
            [showFilterIcon]="false"
          ></app-input>

          <div
            *ngIf=" form.get('title')?.errors?.['required'] && isTouched('title')"
            class="text-danger text-small mt-1"
          >
            <small>
              {{ 'shared.titleRequired' | translate }}
            </small>
          </div>
        </div>
        <!-- End Title -->
        <!-- description -->
        <div class="col-12 col-md-8 mb-3">
          <p class="body mb-2">
            {{ 'shared.description' | translate }}
          </p>
          <app-input
            formControlName="description"
            [placeholder]="'shared.descriptionPlaceholder'"
            [showSearchIcon]="false"
            [showFilterIcon]="false"
          ></app-input>
        </div>
        <!-- End description -->

        <!-- physicalNumber -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'ImportsExportsModule.AddImportComponent.physicalNumber' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-input
            formControlName="physicalNumber"
            [placeholder]="'ImportsExportsModule.AddImportComponent.physicalNumberPlaceholder'"
            [showSearchIcon]="false"
            [showFilterIcon]="false"
          ></app-input>

          <div
            *ngIf=" form.get('physicalNumber')?.errors?.['required'] && isTouched('physicalNumber')"
            class="text-danger text-small mt-1"
          >
            <small>
              {{ 'ImportsExportsModule.AddImportComponent.physicalNumberRequired' | translate }}
            </small>
          </div>
        </div>
        <!-- End physicalNumber -->

        <!-- foundation -->
        <div class="col-12 col-md-4 offset-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.incomingFoundation' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-select
            formControlName="foundation"
            [options]="(foundationsList$ | async)?.data"
            [bindLabel]="lang === 'ar' ? 'title' : 'titleEn'"
            [bindValue]="'id'"
            [placeholder]="'shared.incomingFoundationPlaceholder' | translate"
            [multiple]="false"
            [searchable]="false"
            (selectionChange)="onSelectedFoundationChanged()"
          >
          </app-select>

          <div
            *ngIf="form.get('foundation')?.errors?.['required'] && isTouched('foundation')"
            class="text-danger text-small mt-1"
          >
            <small> {{ 'shared.foundationRequired' | translate }} </small>
          </div>
        </div>
        <!-- End foundation -->

        <!-- sub foundation -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.subFoundation' | translate }}
          </p>
          <app-select
            formControlName="subFoundation"
            [options]="(subFoundationsList$ | async)?.data"
            [bindLabel]="lang === 'ar' ? 'title' : 'titleEn'"
            [bindValue]="'id'"
            [placeholder]="'shared.incomingFoundationPlaceholder' | translate"
            [multiple]="false"
            [searchable]="false"
          >
          </app-select>
        </div>
        <!-- End sub foundation -->

        <!-- concernedFoundations -->
        <div class="col-12 col-md-4 offset-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.concernedFoundations' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-select
            formControlName="concernedFoundations"
            [options]="concernedFoundationsList"
            [bindLabel]="lang === 'ar' ? 'title' : 'titleEn'"
            [bindValue]="'id'"
            [placeholder]="'shared.incomingFoundationPlaceholder' | translate"
            [multiple]="true"
            [searchable]="false"
            [showSelected]="false"
          >
          </app-select>

          <div
            *ngIf="form.get('concernedFoundations')?.errors?.['required'] && isTouched('concernedFoundations')"
            class="text-danger text-small mt-1"
          >
            <small> {{ 'shared.foundationRequired' | translate }}</small>
          </div>
        </div>
        <!-- End concernedFoundations -->

        <!-- committeeId -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.processType' | translate }}
          </p>
          <app-select
            formControlName="committeeId"
            [options]="organizationUnitsList"
            [bindLabel]="'committeeSymbol'"
            [bindValue]="'id'"
            [placeholder]="'shared.processTypePlaceholder' | translate"
            [multiple]="false"
            [searchable]="false"
          >
          </app-select>
        </div>
        <!-- End committeeId -->

        <!-- classification -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.classification' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-select
            formControlName="classificationId"
            [options]="classificationsList"
            [bindLabel]="lang === 'ar' ? 'title' : 'titleEn'"
            [bindValue]="'id'"
            [placeholder]="'shared.classificationPlaceholder' | translate"
            [multiple]="false"
            [searchable]="false"
            [showSelected]="false"
            (selectionChange)="onClassificationChanges()"
          >
          </app-select>

          <div
            *ngIf="form.get('classificationId')?.errors?.['required'] && isTouched('classificationId')"
            class="text-danger text-small mt-1"
          >
            <small> {{ 'shared.classificationRequired' | translate }}</small>
          </div>
        </div>
        <!-- End classification -->

        <!-- priorityId -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.priorities' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-select
            formControlName="priorityId"
            [options]="prioritiesList"
            [bindLabel]="lang === 'ar' ? 'title' : 'titleEn'"
            [bindValue]="'id'"
            [placeholder]="'shared.prioritiesPlaceholder' | translate"
            [multiple]="false"
            [searchable]="false"
            [showSelected]="false"
          >
          </app-select>

          <div
            *ngIf="form.get('priorityId')?.errors?.['required'] && isTouched('priorityId')"
            class="text-danger text-small mt-1"
          >
            <small>
              {{ 'ImportsExportsModule.AddImportComponent.priorityRequired' | translate }}</small
            >
          </div>
        </div>
        <!-- End priorityId -->

        <!-- access -->
        <div *ngIf="showAccessUsers" class="col-12 col-md-12 mb-3">
          <p class="body mb-2">
            {{ 'TransactionsModule.AddTransactionComponent.accessibility' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-select
            formControlName="users"
            [options]="(usersList$ | async)?.data"
            [bindLabel]="'name'"
            [bindValue]="'id'"
            [placeholder]="'TransactionsModule.AddTransactionComponent.accessibility' | translate"
            [multiple]="true"
            [searchable]="true"
            (searchChange)="searchOnUsers($event)"
            [appendTo]="'body'"
          >
          </app-select>

          <div
            *ngIf="form.errors?.['usersRequired'] && isTouched('users')"
            class="text-danger text-small mt-1"
          >
            <small>
              {{ 'TransactionsModule.AddTransactionComponent.atLeastOne' | translate }}</small
            >
          </div>
        </div>
        <!-- End access -->

        <!--Start acceess users-->

        <!-- <div *ngIf="showAccessUsers" class="col-12 pt-2 mat-form-field-div">
          <app-user-search [multiple]="true" [placeholder]="'shared.searchForUsers'" [value]="form.get('users')?.value"
            (emitValue)="form.get('users')?.setValue($event)"
            (touched)="onSetIfUserIsTouched($event)"></app-user-search>
        </div> -->
        <!--end acceess users-->

        <!-- requestType -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'ImportsExportsModule.AddImportComponent.requestType' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-select
            formControlName="requestType"
            [options]="(requestTypesList$ | async)?.data"
            [bindLabel]="lang === 'ar' ? 'title' : 'titleEn'"
            [bindValue]="'id'"
            [placeholder]="
              'ImportsExportsModule.AddImportComponent.requestTypePlaceholder' | translate
            "
            [multiple]="false"
            [searchable]="false"
          >
          </app-select>

          <div
            *ngIf="form.errors?.['requestType'] && isTouched('requestType')"
            class="text-danger text-small mt-1"
          >
            <small>
              {{ 'ImportsExportsModule.AddImportComponent.requestTypeRequired' | translate }}</small
            >
          </div>
        </div>
        <!-- End requestType -->

        <!-- deliveryNumber -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'ImportsExportsModule.AddImportComponent.deliveryNumber' | translate }}
            <span class="text-danger text-small">*</span>
          </p>
          <app-input
            formControlName="deliveryNumber"
            [placeholder]="'ImportsExportsModule.AddImportComponent.deliveryNumberPlaceholder'"
            [showSearchIcon]="false"
            [showFilterIcon]="false"
          ></app-input>

          <div
            *ngIf=" form.get('deliveryNumber')?.errors?.['required'] && isTouched('deliveryNumber')"
            class="text-danger text-small mt-1"
          >
            <small>
              {{ 'ImportsExportsModule.AddImportComponent.deliveryNumberRequired' | translate }}
            </small>
          </div>
        </div>
        <!-- End deliveryNumber -->

        <p class="body-bold mb-3">{{ 'shared.georgianDates' | translate }}</p>
        <!--Start physicalGregorianDate-->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'ImportsExportsModule.AddImportComponent.physicalGregorianDate' | translate }}
            <span class="text-danger">*</span>
          </p>
          <app-date-picker
            [formControlName]="'physicalGregorianDate'"
            [placeholder]="
              'ImportsExportsModule.AddImportComponent.gregorianDatePlaceholder' | translate
            "
            [range]="false"
            (gregorianDateChange)="onPatchFormPhysicalGregorianDate($event)"
            [maxDate]="gregorianTodayDate"
          ></app-date-picker>

          <div
            *ngIf="
                 form.get('physicalGregorianDate')?.errors?.['required'] &&
                        isTouched('physicalGregorianDate')
              "
            class="text-danger mt-1"
          >
            <small>
              {{
                'TransactionsModule.ExportDocumentComponent.documentGregorianDateRequired'
                  | translate
              }}
            </small>
          </div>
        </div>
        <!--End physicalGregorianDate-->
        <!--Start availabilityGregorianDate-->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'ImportsExportsModule.AddImportComponent.availabilityGregorianDate' | translate }}
          </p>
          <app-date-picker
            [formControlName]="'availabilityGregorianDate'"
            [placeholder]="
              'ImportsExportsModule.AddImportComponent.gregorianDatePlaceholder' | translate
            "
            [range]="false"
            (gregorianDateChange)="onPatchFormAvailabilityGregorianDate($event)"
            [maxDate]="gregorianTodayDate"
          ></app-date-picker>
        </div>
        <!--End availabilityGregorianDate-->
        <!--Start deliveryGregorianDate-->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'ImportsExportsModule.AddImportComponent.deliveryGregorianDate' | translate }}
            <span class="text-danger">*</span>
          </p>
          <app-date-picker
            [formControlName]="'deliveryGregorianDate'"
            [placeholder]="
              'ImportsExportsModule.AddImportComponent.gregorianDatePlaceholder' | translate
            "
            [range]="false"
            (gregorianDateChange)="onPatchFormDeliveryGregorianDate($event)"
            [maxDate]="gregorianTodayDate"
            [disabled]="true"
          ></app-date-picker>

          <div
            *ngIf="
                 form.get('deliveryGregorianDate')?.errors?.['required'] &&
                        isTouched('deliveryGregorianDate')
              "
            class="text-danger mt-1"
          >
            <small>
              {{
                'TransactionsModule.ExportDocumentComponent.documentGregorianDateRequired'
                  | translate
              }}
            </small>
          </div>
        </div>
        <!--End deliveryGregorianDate-->

        <p class="body-bold mb-3">{{ 'shared.hijriDates' | translate }}</p>
        <!--Start physicalHijriDate-->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'TransactionsModule.ExportDocumentComponent.documentHijriDate' | translate }}
            <span class="text-danger">*</span>
          </p>
          <app-date-picker-hijri
            [formControlName]="'physicalHijriDate'"
            [placeholder]="
              'ImportsExportsModule.AddImportComponent.hijriDatePlaceholder' | translate
            "
            [range]="false"
            [maxDate]="gregorianTodayDate"
            (hijriDateChange)="onPatchFormPhysicalHijriDate($event)"
          ></app-date-picker-hijri>
          <div
            *ngIf="form.get('physicalHijriDate')?.invalid && form.get('physicalHijriDate')?.touched"
            class="text-danger mt-1"
          >
            <small>
              {{
                'TransactionsModule.ExportDocumentComponent.documentHijriDateRequired' | translate
              }}
            </small>
          </div>
        </div>
        <!--End physicalHijriDate-->
        <!--Start availabilityHijriDate-->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'ImportsExportsModule.AddImportComponent.availabilityHijriDate' | translate }}
          </p>
          <app-date-picker-hijri
            [formControlName]="'availabilityHijriDate'"
            [placeholder]="
              'ImportsExportsModule.AddImportComponent.hijriDatePlaceholder' | translate
            "
            [range]="false"
            [maxDate]="gregorianTodayDate"
            (hijriDateChange)="onPatchFormAvailabilityHijriDate($event)"
          ></app-date-picker-hijri>
        </div>
        <!--End availabilityHijriDate-->
        <!--Start deliveryHijriDate-->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'ImportsExportsModule.AddImportComponent.deliveryHijriDate' | translate }}
            <span class="text-danger">*</span>
          </p>
          <app-date-picker-hijri
            [formControlName]="'deliveryHijriDate'"
            [placeholder]="
              'ImportsExportsModule.AddImportComponent.hijriDatePlaceholder' | translate
            "
            [range]="false"
            [maxDate]="gregorianTodayDate"
            (hijriDateChange)="onPatchFormDeliveryHijriDate($event)"
            [disabled]="true"
          ></app-date-picker-hijri>
        </div>
        <!--End deliveryHijriDate-->

        <div class="col-12 col-md-4 mb-3">
          <p class="body-bold mb-0">
            {{ 'ImportsExportsModule.AddImportComponent.costsRequestedAmount' | translate }}
          </p>
        </div>
        <div class="col-12 col-md-4 offset-md-4 mb-3">
          <p class="body-bold mb-0">
            {{ 'ImportsExportsModule.AddImportComponent.creditsRequestedAmount' | translate }}
          </p>
        </div>

        <!-- costsRequestedAmount -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.costs' | translate }}
          </p>
          <app-input
            formControlName="costsRequestedAmount"
            [appCurrencySarInput]="true"
            [showriyalIcon]="true"
            [placeholder]="'shared.costs'"
            [showSearchIcon]="false"
            [showFilterIcon]="false"
          ></app-input>
        </div>
        <!-- End costsRequestedAmount -->

        <!-- costsApprovedAmount -->
        <div class="col-12 col-md-4 offset-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.costs' | translate }}
          </p>
          <app-input
            formControlName="costsApprovedAmount"
            [appCurrencySarInput]="true"
            [showriyalIcon]="true"
            [placeholder]="'shared.costs'"
            [showSearchIcon]="false"
            [showFilterIcon]="false"
          ></app-input>
        </div>
        <!-- End costsApprovedAmount -->
        <!-- creditsRequestedAmount -->
        <div class="col-12 col-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.credits' | translate }}
          </p>
          <app-input
            formControlName="creditsRequestedAmount"
            [showriyalIcon]="true"
            [appCurrencySarInput]="true"
            [placeholder]="'shared.credits'"
            [showSearchIcon]="false"
            [showFilterIcon]="false"
          ></app-input>
        </div>
        <!-- End creditsRequestedAmount -->

        <!-- creditsApprovedAmount -->
        <div class="col-12 col-md-4 offset-md-4 offset-md-4 mb-3">
          <p class="body mb-2">
            {{ 'shared.credits' | translate }}
          </p>
          <app-input
            formControlName="creditsApprovedAmount"
            [appCurrencySarInput]="true"
            [showriyalIcon]="true"
            [placeholder]="'shared.credits'"
            [showSearchIcon]="false"
            [showFilterIcon]="false"
          ></app-input>
        </div>
        <!-- End creditsApprovedAmount -->

        <!-- start Notes -->
        <div class="col-12 col-md-8 mb-3">
          <p class="body mb-2">{{ 'shared.notes' | translate }}</p>

          <textarea
            class="form-control w-100 bg-white"
            rows="3"
            placeholder="{{ 'shared.notes' | translate }}"
            formControlName="note"
            id="note"
          ></textarea>
        </div>
        <!-- end Notes -->

        <!-- start attachmentDescription -->
        <div class="col-12 col-md-8 mb-3">
          <p class="body mb-2">{{ 'shared.attachmentsText' | translate }}</p>

          <textarea
            class="form-control w-100 bg-white"
            rows="3"
            placeholder="{{ 'shared.attachmentsText' | translate }}"
            formControlName="attachmentDescription"
            id="attachmentDescription"
          ></textarea>
        </div>
        <!-- end attachmentDescription -->
      </div>

      <div class="col-12 mb-3">
        <p class="body-bold mb-2">{{ 'shared.addAttachments' | translate }}</p>
        <app-upload-attachment
          #uploadAttachment
          [multiple]="true"
          [showBtn]="false"
          [split]="true"
          (fileUploaded)="onFileDropped($event)"
          (fileRemoved)="onAttachmentRemoved($event)"
          [showViewOption]="false"
        ></app-upload-attachment>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <button
      class="button button-primary button-lg mx-3"
      (click)="onSubmit()"
      [disabled]="form.invalid || disableSubmitFormDetailsBtn"
    >
      {{ 'shared.saveImport' | translate }}
    </button>
    <button class="button button-secondary button-lg" (click)="goToLastPage()">
      {{ 'shared.cancel' | translate }}
    </button>
  </div>
</div>
