.filters-list {
  padding: 0;
}

.reset {
  color: #cd3b0c !important;
}

.modal-container {
  position: relative;
  max-width: 100%;
  height: 97vh;

  .modal-header {
    padding: 1rem 39px 0 39px;
    margin: 0 0 20px;
    display: block;
    border-bottom: 1px solid #dee2e6;

    .header {
      color: #0e2966;
    }

    .sub-header {
      color: #888889;
    }
    .dismiss-btn {
      width: 38px;
      fill: #0e2966;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 14px;
    }
  }

  @media (max-width: 992px) {
    .modal-header {
      padding: 20px 24px;
    }
  }
  form > div {
    gap: 15px;
  }
  .label-container {
    margin-bottom: 12px;
  }
  .mat-mdc-text-field-wrapper {
    margin: 0.25em 0;
    position: relative;
  }
  .modal-footer {
    position: absolute;
    bottom: 40px;
    width: calc(100% - 15px);
    left: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    @media screen and (max-width: 991px) {
      padding-top: 0px !important;
      bottom: 0;
      height: 0;
    }
  }
}

.mdc-dialog__title::before {
  content: none !important;
}

::ng-deep {
  @media (max-width: 576px) {
    .cdk-global-overlay-wrapper {
      width: 100%;
      display: flex !important;
      justify-content: center !important;
    }
  }
}
