.cancel-btn {
  color: #3db5b5 !important;
  background-color: #ebf5f5 !important;
}

.save-btn:not([disabled]) {
  background: #3db5b5;
  color: #fff;
}

/** Start table **/
::ng-deep app-user-permissions .mat-mdc-table {
  thead {
    background-color: #20545f !important;
  }
}

table {
  margin-top: -10px;
  width: 100%;

  tr {
    border-bottom: 1px solid #c4d7ed;
    font-size: 16px;
  }

  .mat-column-icon {
    width: 3%;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    cursor: pointer;
  }

  .mat-column-other-options {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }

  .mat-column-view,
  .mat-column-create,
  .mat-column-update,
  .mat-column-delete {
    width: 7%;
  }

  .mat-column-name {
    width: 15%;
  }
}

.arrow-img {
  display: block;
  margin: auto;
}

.custom-option-title {
  color: #2e5e69;
}

.hide-rows {
  display: none;
}

.custom-permissions-container {
  gap: 0.5em;
  line-height: 0.7;

  @media (min-width: 1332px) {
    & {
      gap: 1.5em;
    }
  }
}

.padding-left {
  padding-left: 1em;
}

p {
  margin-bottom: 0;
}
