@use 'src/assets/design-system/colors' as *;
@import './reset.scss';
@import './variables.scss';

/****************
Mat Badge Color
*****************/
/* ::ng-deep .mat-badge-content {
  top: 0px !important;
  background-color: #e7e2e2 !important;
  color: #002c6c;
  height: auto;
  width: 37px;
} */

/*********
mat select cutomization
**********/
.mat-form-field-appearance-fill {
  .mat-mdc-select-arrow {
    background-image: url(../icons/select-arrow.svg);
    background-repeat: no-repeat;
    width: 27px !important;
    height: 27px !important;
    border: 0 !important;
    background-size: cover;

    svg {
      fill: none !important;
    }
  }

  .mat-select-value {
    line-height: 30px;
  }

  &.no-border {
    .mat-form-field-underline {
      display: none;
    }
  }
}

.mat-form-field-appearance-outline {
  .mat-mdc-select-arrow {
    background-image: url(../icons/select-arrow.svg);
    background-repeat: no-repeat;
    width: 27px !important;
    height: 27px !important;
    border: 0 !important;
    background-size: cover;

    svg {
      fill: none !important;
    }
  }

  .mat-form-field-infix {
    padding: 0.7em 0 0.7em 0 !important;
  }
}

.mdc-line-ripple {
  display: none;
}

.mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
  opacity: 0;
}

/* Language header selector */
.lang-switcher {
  .mat-mdc-form-field-icon-prefix {
    min-width: 20px;
  }

  .mat-mdc-select-trigger {
    min-width: 50px;
  }
}

// .mat-mdc-text-field-wrapper,
// .mat-mdc-text-field-wrapper:hover,
// .mat-mdc-text-field-wrapper:focus {
//   background-color: #fff !important;
// }

//Mat-select checkbox when [multiples]= true
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full::after {
  color: #2a2525;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: #4d66ef;
}

/** mat-form-field */
.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-infix {
  display: inline-flex;
}

.mdc-notched-outline__leading {
  border-color: #ced4da !important;
}

.mdc-notched-outline__notch {
  border-color: #ced4da !important;
}

.mdc-notched-outline__trailing {
  border-color: #ced4da !important;
}

.mat-form-field-div-success {
  .mat-mdc-text-field-wrapper,
  .mat-mdc-text-field-wrapper:hover,
  .mat-mdc-text-field-wrapper:focus {
    border: 2px solid #008037;
    border-radius: 5px;
  }

  .mdc-notched-outline__leading {
    border: #008037 !important;
  }

  .mdc-notched-outline__notch {
    border: #008037 !important;
  }

  .mdc-notched-outline__trailing {
    border: #008037 !important;
  }
}

.mat-form-field-div-error {
  .mat-mdc-text-field-wrapper,
  .mat-mdc-text-field-wrapper:hover,
  .mat-mdc-text-field-wrapper:focus {
    border: 2px solid #ba1b22;
    border-radius: 5px;
  }

  .mdc-notched-outline__leading {
    border: #ba1b22 !important;
  }

  .mdc-notched-outline__notch {
    border: #ba1b22 !important;
  }

  .mdc-notched-outline__trailing {
    border: #ba1b22 !important;
  }
}

/*********Paginator**********/
mat-paginator {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing {
    display: none;
  }
  .mat-mdc-paginator-page-size {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .mat-mdc-select-panel:has(.mx-high-290) {
    max-height: 290px;
  }
  .mat-mdc-select-panel:not([class*='mat-elevation-z']) {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .mat-mdc-paginator-container {
    min-height: auto;
  }

  .mat-mdc-select {
    span {
      font-size: 15px;
    }
  }

  @media (min-width: 576px) and (max-width: 992px) {
    .mat-mdc-paginator-range-actions {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    .mat-mdc-paginator-range-label {
      margin: 0;
    }

    .mat-mdc-paginator-navigation-first,
    .mat-mdc-paginator-navigation-previous,
    .mat-mdc-paginator-navigation-next,
    .mat-mdc-paginator-navigation-last {
      width: 25px !important;
      padding: 1px !important;
    }
  }
}

.mat-mdc-select-panel {
  padding-top: 0 !important;
}

mat-option.mat-mdc-option-active,
mat-option:hover:not(.mat-option-disabled),
mat-option:focus:not(.mat-option-disabled) {
  background: rgb(245, 250, 255) !important;
}

/**********Table ***************/

.mat-mdc-table {
  border-collapse: separate !important;
  border-spacing: 0 10px !important;
  background-color: #f0f2f5 !important;

  .mat-sort-header-arrow {
    color: #fff;
  }

  thead {
    background-color: #fff !important;
  }

  .mat-mdc-header-cell {
    font-weight: $fw-bold;
    color: #fff;
    border: 3px;
  }

  .mat-mdc-row {
    height: auto !important;
  }

  .mat-mdc-cell {
    //padding: 14px 0 14px 14px !important;
    background-color: #fff !important;
  }
}

/* th.mat-sort-header-sorted {
  color: black;
}

.mat-mdc-cell {
  text-align: center;
}

.mat-sort-header-container {
  justify-content: center;
} */

.mat-sort-header-container {
  flex-direction: column !important;
  justify-content: center !important;
}

.mat-mdc-cell {
  text-align: center !important;
  justify-content: center !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  // padding: 4px 4px 4px 0 !important;
  font-size: 14px;
  @media (min-width: 1332px) {
    & {
      // padding: 14px 14px 14px 0 !important;
      font-size: 16px;
    }
  }
}

/* .mat-sort-header-arrow {
  display: none !important;
}

.mat-sort-header:hover,
mat-sort-header:focus {
  .mat-sort-header-arrow {
    display: block !important;
  }
} */

/* .mat-sort-header-arrow:hover,
.mat-sort-header-arrow:focus {
  display: block !important;
} */

@media (max-width: 992px) {
  .mat-mdc-table {
    border-spacing: 0 0 !important;
    margin-top: 0 !important;
  }
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  left: -11px;
}

/** progress spinner */
.mdc-circular-progress__circle-clipper {
  width: 100% !important;
}

/* ToolTip **/
.mdc-tooltip__surface {
  font-size: 0.8rem !important;
  text-align: center !important;
  line-height: 2rem !important;
  max-width: 600px !important;
}

/* .my-custom-tooltip .mdc-tooltip__surface {
  max-width: 80% !important;
  width: 80%;
  margin: auto;
} */

/**** Mat slide togggle ***********/
.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #341f09 !important;
  --mdc-switch-selected-handle-color: #341f09 !important;
  --mdc-switch-selected-hover-state-layer-color: #341f09 !important;
  --mdc-switch-selected-pressed-state-layer-color: #341f09 !important;
  --mdc-switch-selected-focus-handle-color: #000 !important;
  --mdc-switch-selected-hover-handle-color: #000 !important;
  --mdc-switch-selected-pressed-handle-color: #000 !important;
  --mdc-switch-selected-focus-track-color: #341f09 !important;
  --mdc-switch-selected-hover-track-color: #341f09 !important;
  --mdc-switch-selected-pressed-track-color: #341f09 !important;
  --mdc-switch-selected-track-color: #341f09 !important;
}

/***************  Mat Chip ********************/
.mdc-evolution-chip__action--presentational {
  cursor: pointer !important;
}

/**************** Mat radio buttons    ********************/
/* .mat-mdc-radio-button .mdc-form-field {
  font-size: 1rem !important;
} */

.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before,
.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element {
  background-color: $primary-500 !important;
}

.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__outer-circle,
.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: $primary-500 !important;
}

/**************** Mat CheckBOX    ********************/
.mat-mdc-checkbox[ng-reflect-indeterminate='true'],
.mat-mdc-checkbox-checked {
  .mdc-checkbox__background {
    background-color: #007aff !important;
    border: #007aff !important;
  }
}

.mdc-checkbox .mdc-checkbox__native-control:focus:checked ~ .mdc-checkbox__ripple {
  background-color: #007aff !important;
}

/**************** Mat Slide Toggle    ********************/
.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #3db5b5 !important;
  --mdc-switch-selected-handle-color: #3db5b5 !important;
  --mdc-switch-selected-hover-state-layer-color: #3db5b5 !important;
  --mdc-switch-selected-pressed-state-layer-color: #3db5b5 !important;
  --mdc-switch-selected-focus-handle-color: #3db5b5 !important;
  --mdc-switch-selected-hover-handle-color: #3db5b5 !important;
  --mdc-switch-selected-pressed-handle-color: #3db5b5 !important;
  --mdc-switch-selected-focus-track-color: #3db5b5 !important;
  --mdc-switch-selected-hover-track-color: #3db5b5 !important;
  --mdc-switch-selected-pressed-track-color: #3db5b5 !important;
  --mdc-switch-selected-track-color: #3db5b5 !important;
}

/******************* Mat tab group ***********************/

mat-tab-header {
  background: #f0f2f5;
  border: 0 solid #fff;
  border-radius: 15px;
  .mat-mdc-tab-labels {
    border-width: 0;
    padding: 5px;
  }
  .mdc-tab {
    &.mdc-tab--active,
    &:hover {
      font-weight: bold !important;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
      .mdc-tab-indicator {
        display: none;
      }
    }
  }
}

.mdc-tab__text-label {
  font-size: 15px;
  @media (min-width: 1332px) {
    & {
      font-size: 1rem !important;
    }
  }
}

.mat-mdc-tab-labels {
  border: 1px solid #e5e7eb;
}
.white-space-no-wrap {
  white-space: nowrap !important;
}
.direction-ltr {
  direction: ltr !important;
}
