$english-font-family-primary: "Poppins", "Lato", sans-serif;

$primary-color: #341f09;
$primary-hover: lighten($primary-color, 60%);
$black-color: #000;
$white-color: #fff;
$light-black-color: #101828;
$light-grey-color: #6b7280;
$gray-900-color: #111827;
$gray-500-color: #667085;
$gray-50-color: #F5F5F5;
$dark-grey-color: #101828;
$slate-700-color: #334155;
$slate-900-color: #0f172a;
$main-darker-color: #37a0a0;
$secondary-darker-color: #858d95;
$secondary-50-color: #F6F3EF;
// Secondary
$secondary-50: #f6f3ef;
$secondary-100: #ece7df;
$secondary-200: #dad0be;
$secondary-300: #c7b89e;
$secondary-400: #b5a07d;
$secondary-500: #a38a5f;
$secondary-600: #826d4a;
$secondary-700: #615238;
$secondary-800: #413725;
$secondary-900: #413725;
$secondary-950: #100e09;
// Greyscale
$color-greyscale-surface-subtle: #c4c4c4;
$color-greyscale-surface-default: #9e9e9e;
$color-greyscale-surface-disabled: #ebebeb;
$color-greyscale-border-default: #d9d9d9;
$color-greyscale-border-disabled: #c4c4c4;
$color-greyscale-border-darker: #5e5e5e;
$color-greyscale-text-title: #0f0f0f;
$color-greyscale-text-body: #5e5e5e;
$color-greyscale-text-subtitle: #c4c4c4;
$color-greyscale-text-caption: #b3b3b3;
$color-greyscale-text-negative: #f5f5f5;
$color-greyscale-text-disabled: #ebebeb;

// Primary
$color-primary-surface-subtle: #addefa;
$color-primary-surface-lighter: #5bbdf6;
$color-primary-surface-default: #043049;
$color-primary-surface-darker: #021c2c;
$color-primary-surface-more-darker: #202020;
$color-primary-border-subtle: #addefa;
$color-primary-border-lighter: #5bbdf6;
$color-primary-border-default: #043049;
$color-primary-border-darker: #021c2c;
$color-primary-text-label: #043049;
$color-primary-300: #0d9bed;
$color-primary-200: #5bbdf6;

// Error
$color-error-surface-subtle: #f6d5d5;
$color-error-surface-lighter: #db5757;
$color-error-surface-default: #d32f2f;
$color-error-surface-darker: #7e1b1b;
$color-error-border-subtle: #f6d5d5;
$color-error-border-lighter: #db5757;
$color-error-border-default: #d32f2f;
$color-error-border-darker: #7e1b1b;
$color-error-text-label: #d32f2f;

// Warning
$color-warning-surface-subtle: #fcc4a1;
$color-warning-surface-lighter: #f98944;
$color-warning-surface-default: #f76b15;
$color-warning-surface-darker: #9e4005;
$color-warning-border-subtle: #fcc4a1;
$color-warning-border-lighter: #f98944;
$color-warning-border-default: #f76b15;
$color-warning-border-darker: #9e4005;
$color-warning-text-label: #f76b15;
$color-warning-surface-default-active: #a38a5f;

// Success
$color-success-surface-subtle: #b8e0b9;
$color-success-surface-lighter: #6dc070;
$color-success-surface-default: #4caf50;
$color-success-surface-darker: #2e6b30;
$color-success-border-subtle: #b8e0b9;
$color-success-border-lighter: #6dc070;
$color-success-border-default: #4caf50;
$color-success-border-darker: #2e6b30;
$color-success-text-label: #4caf50;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-bolder: 900;
// 12/16 = 0.75rem
$fs-200: 0.75rem; //12px
$fs-300: 0.875rem; //14px
$fs-400: 1rem; //16px
$fs-450: 1.125rem; //18px
$fs-500: 1.25rem; //20px
$fs-600: 1.5rem; //24px
$fs-650: 1.625rem; //26px
$fs-700: 1.875rem; //30px
$fs-800: 2rem; //32px
$fs-900: 2.25rem; //36px

$calendar-green-color: #00a362;
$calendar-dark-green-color: #007244;
$calendar-gray-light-color: #f2f4fa;
$calendar-white-color: #ffffff;
$calendar-black-color: #000000;
$calendar-text-color: #000000;
$calendar-border-color: #ccc;
$spacers: (
  0: 0px,
  1: 4px,
  // Equivalent to xs
  2: 8px,
  // Equivalent to sm
  3: 16px,
  // Equivalent to md
  4: 24px,
  // Equivalent to lg
  5: 32px,
  // Equivalent to xl
  6: 40px // Equivalent to xxl,,
);
