.table-responsive {
  // max-height: 400px;
  max-width: 100%;
  overflow: auto;
}

table {
  margin-top: -10px;
  width: 100%;

  .mat-column-number {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
  }

  .mat-column-actions {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
  }
}

tr.example-detail-row {
  height: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 991px) {
  tr.example-detail-row {
    height: 0;
    display: contents;
    opacity: 1;
    visibility: visible;
  }
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flow-root;
}

ul.detail-element {
  display: inline-block;
  width: 100%;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 0 5px;

    p {
      font-size: 13px;
      color: #808080;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.mat-mdc-header-row {
  display: none !important;
}

.color-333 {
  color: #333;
}

.import-badge,
.export-badge {
  color: #545961;
  gap: 1em;
  padding: 0.3em 0.4em;
  max-width: 100px;
  border-radius: 8px;

  @media (min-width: 1332px) {
    & {
      padding: 0.6em 0.8em;
    }
  }
}

.import-badge {
  background-color: #e9f7ef;
}

.export-badge {
  background-color: #ffedd5;
}

@media (max-width: 576px) {
  .import-badge,
  .export-badge {
    max-height: 46px;
  }
}

.btns-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding-left: 3px;

  @media (min-width: 1332px) {
    & {
      gap: 1em;
      padding-left: 6px;
    }
  }

  .watch-import-export-container {
    cursor: pointer;
    gap: 5px;
    height: 34px;
    background: #f2f4f5;
    padding: 3px;
    border-radius: 18px;
    border: 1px solid #f2f4f5;

    @media (min-width: 1332px) {
      & {
        padding: 6px;
      }
    }

    &:hover {
      background: #3db5b5;
      color: #fff;
    }
  }
}

::ng-deep .current-request .mat-mdc-cell {
  background-color: #d5eef0 !important;
}
