@import "../../../../../assets/scss/variables.scss";
.mb {
  margin-bottom: 1em;
}
a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.component-header {
  max-width: 100%;
}
#steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 14px;
  margin-top: 1em;

  .step {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.8em;

    .step-number {
      border: 1px solid #f0f2f5;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      padding: 8px;
      text-align: center;
      color: #a2a6ab;
      background: #f0f2f5;
    }

    .step-number-done {
      color: #27ae61 !important;
      border-color: #68c591 !important;
      background-color: #e3f2eb !important;
    }

    .step-title-done {
      color: #27ae61 !important;
    }

    .step-title {
      font-weight: bold;
      color: #7d8187;
    }
  }

  .step.active {
    .step-number {
      border: 1px solid #3db5b5;
      background: #3db5b5;
      color: #fff;
    }

    .step-title {
      color: #54bdbd;
    }
  }

  hr {
    display: block;
    height: 2px;
    width: 78%;
    border-top: 2px solid #dee1e7;
    margin: 1em 0;
    padding: 0;
  }

  hr.hr-done {
    border-color: #3db5b5;
    border-width: 2px !important;
  }
}

.div-card {
  border-radius: 14px;
  margin-top: 2em;
  color: #545961;
  //background-color: #fff;

  mat-radio-group {
    display: flex;
    gap: 1.3em;
    padding: 1em;
    margin: 0 1em;
  }

  .label-container {
    margin-bottom: 12px;
  }

  .mat-form-field-div {
    padding: 1em;
  }

  .divider {
    border: 1px solid #f0f2f5;
    margin: 2em 0;
  }

  .rest-fields-container {
    padding: 0 1em;
  }

  .save-btn-container {
    margin-top: 2em;
    padding-bottom: 1em;

    .save-btn {
      padding: 1.5em;
    }
    .save-btn:not([disabled]) {
      background: #3db5b5;
      color: #fff;
    }
  }
}

::ng-deep app-delivery-receipt .mat-mdc-table {
  thead {
    background-color: transparent !important;
  }
}

table {
  margin-top: -10px;
  width: 100%;
  tr {
    border-bottom: 1px solid #c4d7ed;
    font-size: 16px;
  }
  .mat-column-rowNumber {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .mat-column-actions {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 14px 14px 14px 14px !important;
  }
}

tr.example-detail-row {
  height: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 991px) {
  tr.example-detail-row {
    height: 0;
    display: contents;
    opacity: 1;
    visibility: visible;
  }
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flow-root;
}

ul.detail-element {
  display: inline-block;
  width: 100%;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 0 5px;

    p {
      font-size: 13px;
      color: #808080;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.example-element-description {
  padding: 12px;
}

::ng-deep {
  .mat-paginator {
    background: none;
  }
  @media only screen and (max-width: 360px) {
    .mat-button-wrapper {
      font-size: 13px;
    }
  }
  .mat-paginator-container {
    height: 60px;
    @media only screen and (max-width: 1200px) {
      justify-content: center !important;
    }
  }
}

::ng-deep .mat-paginator-page-size.ng-star-inserted {
  display: none;
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
  background: rgb(0 0 0 / 43%);
}

::ng-deep .cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1 !important;
}
::ng-deep .mat-paginator-page-size.ng-star-inserted {
  display: none;
}

.save-btn-container {
  gap: 1em;
  padding: 1em;

  .save-btn,
  .back-btn {
    padding: 1.5em;
  }
  .save-btn:not([disabled]) {
    background: #3db5b5;
    color: #fff;
  }

  .back-btn {
    background-color: #ebf5f5;
    color: #545961;
  }
}

////////////////////////// Delivery Receipt ////////////////////////////////////
///
.receipt-section {
  width: 75%;
  margin: auto;
  background: #fff;
  padding: 6px;
}

.buttons-card {
  display: flex;
  background: #fff;
  align-items: center;
  border-radius: 10px;

  .item {
    display: flex;
    cursor: pointer;
    padding: 0.7em 0.9em;
    border: 1px solid #f0f2f5;
  }
}
::ng-deep .mat-mdc-table {
    border-collapse: collapse !important;
   
}

th{
  border-bottom: 1px solid #ead6db !important;
    border-left: 1px solid #ead6db !important;
    padding: 0.375rem  !important;
    cursor: text !important;
    max-width: 15.5rem !important;
    white-space: normal !important;
        background: #f5ebed !important;
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    color: #7f404f !important;
    padding: 0 !important;
}
td {
    border-bottom: 1px solid #ead6db !important;
    border-left: 1px solid #ead6db !important;
    padding: 0.375rem !important;
    cursor: text !important;
    max-width: 15.5rem !important;
    white-space: normal !important;
}
.table-responsive{
         background: #fff;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #ead6db;
}