#close-icon {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1em;
}

img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.mdc-dialog__title::before {
  content: unset !important;
}

.modal-header {
  margin-top: 1.3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

div[mat-dialog-contents] {
  //height: 200px;
  padding: 0 24px 9px;
}

div[mat-dialog-actions] {
  padding: 1.5rem;
}

@media (max-width: 576px) {
  .mb {
    margin-bottom: 10px;
  }
}

.label-container {
  margin-bottom: 12px;
}
.btnMd {
  width: 30%;
}
.btnSmall {
  width: 25%;
}
.save-btn {
  color: #fff !important;
}

@media (max-width: 576px) {
  .label-container {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px) {
  .btnSmall {
    width: 40%;
  }
  .btnMd {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .btnMd {
    width: 55%;
  }
}
@media screen and (max-width: 330px) {
  .btnSmall {
    width: 37%;
  }
}
