@use 'src/assets/design-system/colors' as *;
// ::ng-deep .filters-dialog-panel {
//   margin-top: 183px !important;
// }

svg[width='26'] {
  position: fixed;
  top: 175px;
  left: 54.1%;
  transform: translateX(-50%);
  z-index: 10000;
  pointer-events: none;
}

::ng-deep .filters-dialog-panel .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0.75rem;
  background: #fff;
  padding: 1.5rem;
  gap: 1rem;
  min-height: auto;
  max-width: 23.625rem;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.selected-pills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
}
.pill {
  height: 1.5rem;
  width: auto;
  display: flex;
  padding: 0.125rem 0.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: $secondary-500;
  border-radius: 0.25rem;
  background: $secondary-100;
}
.close-icon {
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 2px;
  color: $secondary-50;
  font-weight: bold;
  background: $secondary-500;
}
