@use 'src/assets/design-system/colors' as *;
.search-container {
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #dee1e7;
  background-color: #fff;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 100% !important;
  }

  input {
    opacity: 0.8;

    border: 0;
    outline: none;
    background: none;
    height: 40px;
    width: 100%;
  }
}
.radius-8px {
  border-radius: 8px !important;
}
.pie-chart-container {
  max-width: 200px;
  margin: auto;
}

canvas {
  max-width: 100%;
  max-height: 200px;
}

.bg-white {
  background-color: #fff;
}

.header-gap {
  gap: 1em;
}

.statisics-top-div {
  .statistics-header {
    color: #000;
  }
}

.legend-label,
.statistics-label {
  font-size: 14px;

  @media (min-width: 1332px) {
    & {
      font-size: 1rem;
    }
  }
}

.systematic-container,
.importance-container {
  flex-basis: 50%;

  .legend {
    justify-content: space-around;
  }
}

.systematic-container {
  position: relative;
  justify-content: space-between;
  border: 1px solid #5bbdf6;
  border-radius: 10px;
  margin-bottom: 15px;
}

.systematic-container::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  width: 1px;
  height: 89%;
  background: #d6dae0;
}

.legends {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
  margin-right: 1rem;

  p {
    width: 12rem;
  }

  .legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .legend-container {
      display: flex;
      gap: 0.7em;
      align-items: center;
    }

    .legend-color-box {
      width: 15px;
      height: 15px;
      border: 1px solid #fff;
      border-radius: 3px;
    }

    .legend-label {
      color: #404040;
      display: flex;
      gap: 5px;
      font-size: 12px;
    }

    .under-processing {
      background-color: #23615a;
    }

    .scheduled {
      background-color: #00a390;
    }

    .done {
      background-color: #00fadd;
    }
  }
}

.recommendation-results-container {
  .recommendation-results-right-section {
    border: 1px solid #5bbdf6;
    border-radius: 10px;
    padding: 10px;
  }

  .recommendation-title-container {
    flex-basis: 26%;

    p {
      margin-bottom: 8px;
      display: flex;
      gap: 10px;
    }
  }

  .recommendation-line-chart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    app-multi-progress-bar {
      margin-bottom: 8px;
    }
  }

  .recommendation-line-chart {
    flex-basis: 74%;
  }
}
.canvas-card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}
.summary-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #fff;
  img {
    margin: 0;
  }
  .summary-chart {
    position: relative;
    min-width: 95px;
    .percentage {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 12px;
    }

    canvas {
      max-height: 95px;
    }
  }
}

.table-bg-f3f3f3f {
  background-color: #f2f2f3;

  td {
    background-color: #f2f2f3;
    border-block-style: hidden;
  }
}

table {
  width: 100%;

  thead {
    border-bottom: 1px solid #20545f4d;
  }

  th {
    color: #858d95;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    p {
      color: #858d95;
      padding: 10px;
      font-size: 14px;
      font-weight: 400;
      border-bottom: 1px solid #20545f4d;
    }
  }
}

table,
th {
  border-color: #20545f40;
  text-align: center;
}

.border-bottom {
  border-bottom: 1px solid #20545f40;
}

thead {
  th {
    border: 1px solid #20545f40;
    border-collapse: collapse;
  }
}

.borderless {
  border-top-style: hidden;
}

.border-statistics-section {
  border: 1px solid #c5d2d5;
  border-radius: 10px;
  padding: 10px;
}

.border-style-none {
  border-style: hidden;
}

.border-right-style-none {
  border-right-style: hidden;
}

.border-left-style-none {
  border-left-style: hidden;
}

.custom-table-container {
  mat-table {
    width: 100%;
    background: white;
    border-radius: 8px;
    overflow: hidden;

    th {
      background: #f8f9fa;
      font-weight: bold;
      text-align: right;
      padding: 16px;
      white-space: nowrap;
    }

    td {
      padding: 16px;
      text-align: right;
      white-space: nowrap;
    }

    .alt-row {
      background-color: #f1f1f1;
    }
  }

  .filter-icon {
    vertical-align: middle;
    margin-left: 4px;
  }
}

.row-padding {
  padding: 1em;
}

.padding-right {
  padding-right: 1em;
}

.flex-grow-1 {
  flex-grow: 1;
}

.border-radius {
  border-radius: 10px;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}
.internal_dashboard {
  ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-bottom: 3px !important;
    padding-top: 3px;
    min-height: 33px;
  }
  ::ng-deep
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
    .mat-mdc-form-field-infix {
    padding-bottom: 3px !important;
    padding-top: 3px;
    min-height: 33px;
  }
  ::ng-deep span.mat-mdc-select-min-line {
    font-size: 12px;
  }
}

.cat-select ::ng-deep .mat-mdc-select-value {
  min-width: 24%;
  width: auto;
}
.scrollable-table {
  overflow: auto;
  max-height: 463px;
}
.statistics-header-val {
  font-size: 25px;
  font-weight: bold;
}
.p-20 {
  padding: 20px !important;
}
apx-chart {
  width: 100% !important;
}
.header-gap-2 {
  gap: 2.5em;
}
.mb-10 {
  margin-bottom: 10px;
}

table {
  border-collapse: separate; /* Required for border-radius to work on the table */
  border-spacing: 0; /* Ensures no gap between cells */
  // border-radius: 15px; /* Apply to the table */
  overflow: hidden; /* Important to clip content within the rounded corners */
}
table th {
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #d9d9d9;
  background-color: $gray-50;
  color: #000000;
  font-weight: bolder;
  padding: 14px 0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;

  // RTL: Remove border between first and last th
  // &:nth-child(1) {
  //   border-left: none;
  // }

  &:last-child {
    border-left: none;
  }
}
table td {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: none;
  border-bottom: none;
  color: #000000;
  padding: 9px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

/* Alternatively, apply to individual cells for a more granular effect */
th:first-child {
  border-top-right-radius: 15px;
}
th:last-child {
  border-top-left-radius: 15px;
}
tr td:first-child {
  border-right: 0;
}
tr td:last-child {
  border-left: 0;
}
tbody tr:last-child td {
  border-bottom: 1px solid #d9d9d9;
}

.inner_header {
  background: #ece7dfed;
  display: inline-flex !important;
  margin-inline-start: 10%;
  margin-bottom: 0;
  padding: 5px;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  justify-content: space-between;
  gap: 5px;
}
.gap-3 {
  gap: 3rem !important;
}
.mt-15 {
  margin-top: 15px;
}
.filter {
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.filterCategory {
  background-color: $gray-50;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 48px;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter_container {
  position: relative;
}
.custom-width {
  max-width: 6rem;
  height: 100%;
}
h1 {
  margin-bottom: 15px;
  font-size: 25px !important;
  font-weight: bolder;
}

.stats-container {
  ::ng-deep .mat-mdc-form-field-infix {
    background-color: $gray-50 !important;
    border: none !important;
  }
}
.custom-title {
  position: absolute;
}
:host ::ng-deep .apexcharts-toolbar {
  display: none;
}
.nested-card {
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 0.75rem;
}
.avg-sign-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  .avg-sign-card {
    border-radius: 8px;
    border: 1px solid #addefa;
    background: #fff;
    padding: 14px;
    min-width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
