@import "../../../../../assets/scss/variables.scss";

/**************** filters ******************/

/* .outer-filters-container {
  background: #fff;
  border-radius: 12px;
}
 */
/**************** Table ********************/

::ng-deep app-pending-transactions-list .mat-mdc-table {
  thead {
    background-color: #20545f !important;
  }
}

table {
  margin-top: -10px;
  width: 100%;
  tr {
    border-bottom: 1px solid #c4d7ed;
    font-size: 16px;
  }

  .mat-column-icon {
    width: 40px;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }

  .mat-column-actions {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    padding: 14px 14px 14px 14px !important;
    min-height: 32px;
  }
}

tr.example-detail-row {
  height: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 991px) {
  tr.example-detail-row {
    height: 0;
    display: contents;
    opacity: 1;
    visibility: visible;
  }
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flow-root;
}

ul.detail-element {
  display: inline-block;
  width: 100%;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 0 5px;

    p {
      font-size: 13px;
      color: #808080;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.example-element-description {
  padding: 12px;
}

::ng-deep {
  .mat-paginator {
    background: none;
  }
  @media only screen and (max-width: 360px) {
    .mat-button-wrapper {
      font-size: 13px;
    }
  }
  .mat-paginator-container {
    height: 60px;
    @media only screen and (max-width: 1200px) {
      justify-content: center !important;
    }
  }
}

::ng-deep .mat-paginator-page-size.ng-star-inserted {
  display: none;
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
  background: rgb(0 0 0 / 43%);
}

::ng-deep .cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1 !important;
}
::ng-deep .mat-paginator-page-size.ng-star-inserted {
  display: none;
}

.export-container,
.import-container {
  height: 31px;
  width: auto;
  min-width: 4rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  img {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
}

.export-container {
  background-color: #ffedd5;
  span {
    color: #ea580c;
  }
}

.import-container {
  background-color: #dcfce7;
  span {
    color: #16a34a;
  }
}

.options-container {
  display: flex;
  gap: 0.2em;
  align-items: baseline;
  min-height: 32px;

  @media (min-width: 1332px) {
    & {
      gap: 1.2em;
    }
  }
}

.options-container {
  .edit-container {
    gap: 5px;
    height: 39px;
    background: #f2f4f5;
    padding: 6px;
    border-radius: 18px;
    border: 1px solid #f2f4f5;
  }

  .edit-container {
    width: auto;
  }

  .delete-container {
    width: 41px;
    background: #f2f4f5;
    justify-content: center;
    border-radius: 50%;

    img {
      width: 35px; //16px
      height: 35px;
      object-fit: cover;
    }

    img:hover {
      filter: invert(12%) sepia(82%) saturate(7500%) hue-rotate(8deg)
        brightness(106%) contrast(119%);
    }
  }
}

::ng-deep .isHolding .mat-mdc-cell {
  background-color: #f9731621 !important;
}

::ng-deep app-pending-transactions-list .mat-mdc-cell {
  position: relative;
}

::ng-deep app-pending-transactions-list .mat-td-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
