<section>
  <div class="row justify-content-between align-items-center | mb">
    <div class="col-12 col-md-6 d-flex align-items-center | heading mb">
      <a routerLink="../">
        <img
          src="assets/icons/right-arrow.png"
          alt="Navigation back."
          class="arrow-icon"
          [class.rotate-arrow]="lang === 'en'"
        />
      </a>
      <h1 class="fs-600 text-gray-900 fw-bold">
        {{ "shared.exportedAttachmentTypes" | translate }}
      </h1>
    </div>
    <div
      *ngxPermissionsOnly="[PermissionsObj.CreateExportedAttachmentType]"
      class="col-12 col-md-6 d-flex justify-content-end"
    >
      <button
        mat-fab
        extended
        [routerLink]="['add']"
        class="d-flex align-items-center | add-btn"
        matTooltip="{{ 'shared.addExportedAttachment' | translate }}"
      >
        <mat-icon class="d-flex align-items-center m-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              d="M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80zM0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM200 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
            />
          </svg>
        </mat-icon>
      </button>
    </div>
  </div>

  <div>
    <!--start filters-->
    <!--End filters
    -->
    <!--<div class="row | table-actions">
        <div class="col-md-6 col-12"></div>
        <div class="col-md-6 col-12">
          <mat-paginator
            [length]="length"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            [pageSizeOptions]="[20, 30, 40, 50]"
            (page)="pageEvent = $event; onPaginationChange($event)"
            showFirstLastButtons
          >
          </mat-paginator>
        </div>
      </div>-->

    <!--Start table-->
    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="exportedAttachmentTypesSource"
        matSort
        multiTemplateDataRows
        (matSortChange)="
          onSortColumn({ active: $event.active, direction: $event.direction })
        "
        [matSortActive]="sortData.sortBy"
        [matSortDirection]="sortData.sortType"
      >
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "shared.title" | translate }}
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            (click)="view_hide_element(element)"
          >
            {{ element.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="titleEn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "shared.titleEn" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.titleEn }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "shared.description" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="descriptionEn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "shared.descriptionEn" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.descriptionEn }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isRequiredNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ "shared.isRequireAttachNumber" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              element.isRequiredNumber
                ? ("shared.yes" | translate)
                : ("shared.no" | translate)
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center" style="gap: 10px">
              <a
                (click)="onViewElement(element.id)"
                class="cursor-pointer | options-eye"
              >
                <img
                  src="assets/icons/options-eye.svg"
                  alt="View sector details"
                />
              </a>
              <button
                mat-fab
                extended
                [matMenuTriggerFor]="optionsMenu"
                class="d-flex align-items-center | options-btn"
              >
                {{ "shared.options" | translate }}

                <mat-icon class="d-flex align-items-center">
                  <img
                    src="assets/icons/white-arrow-down.png"
                    alt="Press to select an option."
                  />
                </mat-icon>
              </button>
              <mat-menu #optionsMenu="matMenu" class="dropdown-menu-btn">
                <button
                  *ngxPermissionsOnly="[
                    PermissionsObj.UpdateExportedAttachmentType
                  ]"
                  mat-menu-item
                  (click)="onEditElement(element.id)"
                >
                  {{ "shared.edit" | translate }}
                </button>

                <button
                  *ngxPermissionsOnly="[
                    PermissionsObj.DeleteExportedAttachmentType
                  ]"
                  mat-menu-item
                  (click)="onDeleteElement(element)"
                  class="delete-color"
                >
                  {{ "shared.delete" | translate }}
                </button>
              </mat-menu>
            </div>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="return_displayed_columns().length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                check_view_element(element) ? 'expanded' : 'collapsed'
              "
            >
              <div class="example-element-description">
                <ul class="detail-element">
                  <li>
                    <p>{{ "shared.title" | translate }}</p>
                    <span>{{ element.title }}</span>
                  </li>
                  <li>
                    <p>
                      {{ "shared.titleEn" | translate }}
                    </p>
                    <span>{{ element.titleEn }}</span>
                  </li>
                  <li>
                    <p>
                      {{ "shared.description" | translate }}
                    </p>
                    <span>{{ element.description }}</span>
                  </li>

                  <li>
                    <p>
                      {{ "shared.descriptionEn" | translate }}
                    </p>
                    <span>
                      {{ element.descriptionEn }}
                    </span>
                  </li>

                  <li>
                    <p>
                      {{ "shared.isRequireAttachNumber" | translate }}
                    </p>
                    <span>
                      {{
                        element.isRequiredNumber
                          ? ("shared.yes" | translate)
                          : ("shared.no" | translate)
                      }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="return_displayed_columns()"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: return_displayed_columns()"
          class="example-element-row"
          [ngClass]="{ hide: isLoading }"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>

        <ng-container matColumnDef="noData">
          <td mat-footer-cell *matFooterCellDef colspan="8">
            <p class="text-center">{{ "shared.noRowsFound" | translate }}</p>
          </td>
        </ng-container>

        <!--start loading -->
        <ng-container matColumnDef="loading">
          <td mat-footer-cell *matFooterCellDef colspan="8">
            <p class="text-center">{{ "shared.loading" | translate }} ...</p>
          </td>
        </ng-container>

        <tr
          mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: !isLoading }"
        ></tr>
        <!--end loading -->
        <tr
          mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: isLoading || exportedAttachmentTypesSource.data.length != 0
          }"
        ></tr>
      </table>
    </div>
    <div class="d-flex justify-content-end paginateMobile">
      <mat-paginator
        [length]="length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="[20, 30, 40, 50]"
        (page)="pageEvent = $event; onPaginationChange($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</section>
