a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

#steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 14px;
  margin: 5px;
  font-size: 14px;

  @media (min-width: 1332px) {
    & {
      margin-top: 1em;
      font-size: 1rem;
      margin: 8px;
    }
  }

  .step {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.8em;

    .step-number {
      border: 1px solid #f0f2f5;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      text-align: center;
      color: #a2a6ab;
      background: #f0f2f5;

      padding: 7px 4px;

      @media (min-width: 1332px) {
        & {
          padding: 5px;
        }
      }
    }

    .step-number-done {
      color: #27ae61 !important;
      border-color: #68c591 !important;
      background-color: #e3f2eb !important;
    }

    .step-title-done {
      color: #27ae61 !important;
    }

    .step-title {
      color: #7d8187;
      width: max-content;
    }
  }

  .step.active {
    .step-number {
      border: 1px solid #3db5b5;
      background: #3db5b5;
      color: #fff;
    }

    .step-title {
      color: #54bdbd;
    }
  }

  hr {
    display: block;
    height: 2px;
    border-top: 2px solid #dee1e7;
    margin: 1em 0;
    padding: 0;
    width: -webkit-fill-available;
  }

  hr.hr-done {
    border-color: #3db5b5;
    border-width: 2px !important;
  }
}

.div-card {
  border-radius: 14px;
  margin-top: 8px;
  color: #545961;
  background-color: #fff;
  margin: 8px 5px 5px 5px;

  @media (min-width: 1332px) {
    & {
      margin-top: 1em;
      margin: 8px;
    }
  }
}
