<div class="d-flex justify-content-between align-items-center mb-3 custom-modal-header">
  <span class="body-bold"> {{"shared.resetImport" | translate}}</span>
  <svg width="1.25rem" height="1.25rem" class="cursor-pointer" (click)="onCancel()">
    <use [attr.xlink:href]="'assets/icons/sprite.svg#circle-close'"></use>
  </svg>
</div>

<div class="custom-modal-body" mat-dialog-contents>
  <div *ngIf="previousRequestSteps.length" class="">
    <div class="d-flex align-items-center mb-2">
      <mat-checkbox (change)="onDeleteAllCheckboxChange($event.checked)" [disableRipple]="true">
      </mat-checkbox>
      <span class="body-bold text-danger">
        {{"shared.deleteAllSteps" | translate}}
      </span>
    </div>

    <!-- <span class="reset-btn" mat-flat-button (click)="onCancelAllSteps()" [disabled]="disableSubmitBtn">
      حذف جميع الخطوات
    </span>
  </div> -->

    <div class="row main-content">
      <div *ngIf="!isLoading; else loadingResultsBlock" class="col-12 mat-form-field-div">
        <ng-container *ngFor="let item of previousRequestSteps">
          <div class="d-flex align-items-center">
            <div class="flex-1">
              <mat-checkbox [(ngModel)]="item.checked" (change)="onSelect(item, $event.checked)" [disableRipple]="true">
              </mat-checkbox>
            </div>
            <div class="box flex-3">
              <span class="body text-small mb-2">{{"shared.step" | translate}}</span>
              <span class="body-bold text-small">{{ item.title }}</span>
            </div>
            <div class="box flex-3">
              <span class="body text-small mb-2">{{"shared.action" | translate}}</span>
              <span class="body-bold text-small">{{ item.action.title }}</span>
            </div>
            <div class="box flex-3">
              <span class="body text-small mb-2">{{"shared.executor" | translate}}</span>
              <span class="body-bold text-small">{{ item.user.name }}</span>
            </div>
          </div>
          <ng-container *ngIf="item !== previousRequestSteps[previousRequestSteps.length - 1]">
            <hr class="line" />
          </ng-container>
        </ng-container>

        <p *ngIf="previousRequestSteps.length === 0" class="no-rows-warning-msg">
          لا توجد خطوات سابقة
        </p>
      </div>

      <ng-template #loadingResultsBlock>
        <div class="d-flex justify-content-center align-items-center" style="width: 100%; margin-top: 9%">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>


  <div mat-dialog-actions class="d-flex justify-content-between align-items-center custom-modal-footer mt-5">
    <button class="button button-primary button-lg" style="flex: 0 0 69%" (click)="resetRequest()"
      [disabled]="disableSubmitBtn">
      {{ "shared.resetImportBtn" | translate }}
    </button>
    <button class="button button-secondary button-lg" style="flex: 0 0 29%" (click)="onCancel()">
      {{ "shared.cancel" | translate }}
    </button>
  </div>