@use "src/assets/design-system/colors" as *;
.box {
  display: flex;
  flex-direction: column;
}
.flex-3 {
  flex: 0 33%;
}
.flex-1 {
  flex: 0 5%;
}
.line {
  color: $gray-200;
  margin: 0.75rem 0;
  height: 0.0625rem;
}
