.label-container {
  margin-bottom: 12px;
}

.btn-container {
  display: flex;
  gap: 2em;
  margin-top: 2em;
  justify-content: center;
}

button {
  height: 40px !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.cancel-btn {
  border: 2px solid #cd3b0c !important;
  color: #cd3b0c !important;
  background-color: #fff !important;
}

.save-btn:not([disabled]) {
  background-color: #3db5b5 !important;
  color: #fff;
}

@media (max-width: 576px) {
  .mb {
    margin-bottom: 0;
  }

  .mat-form-field-div {
    margin-bottom: 10px;
  }

  .label-container {
    margin-bottom: 15px;
  }

  .footer-container {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .mb {
    margin-bottom: 0;
  }

  h1 {
    margin: 0 0 15px 0;
  }
}

.card {
  background: #fff;
  padding: 1em;
  border-radius: 13px;
}

.add-btn-container {
  margin-top: 3em;

  mat-icon {
    margin-left: 0;
  }
  .add-btn {
    background-color: transparent;
    color: #201a1b;
    img {
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
    @media (max-width: 576px) {
      & {
        max-height: 46px;
        font-size: 14px;
      }
    }
  }
}

/*******************Angular grid layout*********************************/
:host {
  display: block;
  width: 100%;
  padding: 48px 32px;
  box-sizing: border-box;

  .playground-container {
    width: 100%;
  }

  .controls-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;

    & > * {
      margin: 8px 24px 8px 0;
    }
  }

  ktd-grid {
    display: flex;
    flex-flow: column wrap-reverse;
  }

  .grid-container {
    border: 3px solid #b1a8a8;
    border-radius: 2px;
  }

  ktd-grid-item {
    color: #121212;
  }

  ktd-grid {
    transition: height 500ms ease;
  }

  .grid-item-content {
    background: #f5f5f5;
    border: 1px solid;
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .grid-item-remove-handle {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;

    &::after {
      content: "x";
      color: #121212;
      font-size: 16px;
      font-weight: 300;
      font-family: Arial, sans-serif;
    }
  }

  // Add custom drag mouse styles
  ktd-grid-item {
    cursor: grab;

    &.ktd-grid-item-dragging {
      cursor: grabbing;
    }
  }

  mat-chip-list,
  mat-chip {
    pointer-events: none;
    user-select: none;
  }
}

.member-title {
  padding: 1em;
}
