.popup-container{
      width: 500px;
    height: 210px;
    padding: 15px;
}
.delete-icon {
  border-radius: 1.75rem;
  border: 8px solid #fef3f2;
  background: #fee4e2;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}