.popup-container {
  width: 500px;
  height: 210px;
  padding: 15px;
}
.delete-icon {
  border-radius: 1.75rem;
  border: 8px solid #fef3f2;
  background: #fee4e2;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-text {
  color: #000;
  text-align: center;
  font-family: Inder;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
