@use "src/assets/design-system/colors" as *;

.card {
  border-radius: 0.75rem;
  border: 1px solid $gray-100;
  background: #fff;
  padding: 1rem;
}
:host ::ng-deep  .mat-mdc-slide-toggle .mdc-switch:enabled+.mdc-label{
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0 7px;
}

:host ::ng-deep .custom-slide-toggle {
  width: 100%;
  height: 1.5rem;
  flex-shrink: 0;
}
:host ::ng-deep .custom-slide-toggle .mdc-switch__track {
  width: 1.875rem;
  height: 1.125rem;
  flex-shrink: 0;
  border-radius: 4rem;
}
:host ::ng-deep .mdc-switch__handle {
  display: none;
}
:host ::ng-deep .custom-slide-toggle .mdc-switch__handle-track {
  width: 1.1875rem;
  height: 1.125rem;
  flex-shrink: 0;
  border-radius: 4rem;
  border: 1px solid #fff;
  background: var(--ios-home-indicator-background-color, #fff);
  top: 18%;
  left: 3px;
  right: 3px;
}

:host ::ng-deep  .mdc-switch:enabled .mdc-switch__track::before , :host ::ng-deep  .mdc-switch:enabled:hover:not(:focus):not(:active) .mdc-switch__track::before {
      background: $gray-50 !important;
}

:host ::ng-deep .mdc-switch__shadow {
  background: #fff;
}


// Dark theme: green-500

  ::ng-deep
  .mdc-switch:enabled
  .mdc-switch__track::after,

  ::ng-deep
  .mdc-switch:enabled:hover:not(:focus):not(:active)
  .mdc-switch__track::after,

  ::ng-deep
  .mdc-switch:enabled:focus:not(:active)
  .mdc-switch__track::after,

  ::ng-deep
  .mdc-switch:enabled:active
  .mdc-switch__track::after {
  background: $green-500;
  background-color: $green-500;
  width: 2.5rem;
  height: 1.6875rem;
  flex-shrink: 0;
  border-radius: 4rem;
}

::ng-deep .mdc-switch__handle {
  background: $gray-50 !important;
  background-color: $gray-50 !important;
}
::ng-deep .mdc-switch__handle {
  background: $green-500 !important;
  background-color: $green-500 !important;
}
:host ::ng-deep .mdc-switch__handle,
:host ::ng-deep .mdc-switch__ripple {
  top: 65%;
}
:host ::ng-deep .custom-slide-toggle
  .mdc-switch__handle-track
  .mdc-switch__icons {
  display: none;
}
img{
      display: inline-block;
    margin-inline-end: 10px;
}
h2{
        margin-bottom: 20px;
      color: #000;
      font-weight: bold;
    font-size: 1.25rem !important;
}
