/* home-statistics-section.component.scss */
@use 'src/assets/design-system/colors' as *;
@import '../../../../../assets/scss/variables.scss';

/* 1) Wrapper for all cards */
.statistics-wrapper {
  display: flex;
  // gap: 16px;
  flex-wrap: wrap;

  /* Base styles for every card */
  .statistics-item {
    background: #ffffff;
    border-radius: 0.75rem;
    padding: 1rem;
    height: 100%;

    /* 2) Small cards (Notes & Letters) */
    &.small-card {
      // flex: 0 0 182px;

      .top {
        display: flex;
        align-items: center;

        .icon {
          width: 32px;
          height: 32px;
          margin-right: 12px;
        }

        .info {
          .value {
            font-size: 28px;
            font-weight: 700;
            color: #123e6b;
            margin: 0;
          }

          .label {
            font-size: 14px;
            color: #555555;
            margin: 0;
          }
        }
      }
    }

    /* 3) Large card (Transactions) */
    &.large-card {
      //flex: 0 0 50%;
      display: flex;
      flex-direction: column;

      .top {
        text-align: right;
        margin-bottom: 16px;

        .info {
          .value {
            font-size: 36px;
            font-weight: 700;
            color: #123e6b;
            margin: 0;
          }

          .label {
            font-size: 16px;
            color: #555555;
            margin: 0;
          }
        }
      }

      .statistics-content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        .pie-chart-container {
          flex: 1;
          max-width: 100%;
          margin: auto;
          canvas {
            max-width: 11rem;
          }
        }

        .legends {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .legend {
            display: flex;
            align-items: center;

            .box {
              width: 14px;
              height: 10px;
              //border-radius: 3px;
              margin-right: 8px;

              &.done {
                background-color: $color-primary-surface-subtle;
              }

              &.scheduled {
                background-color: $color-primary-surface-darker;
              }

              &.under-processing {
                background-color: $color-primary-200;
              }
            }

            .text {
              font-size: 14px;
              color: #000000;
              font-weight: 400;
              margin-inline-start: 8px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1350px) {
  .statistics-wrapper {
    gap: 0;
    height: 100%;
  }
}
.bg-bage {
  background-color: #f5f5f5 !important;
}
