@use 'src/assets/design-system/colors' as *;

.dateText {
  color: $primary-500;
}

.comment {
  color: $secondary-500;
}

.comment-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  min-width: 0;
}

.comment-container {
  gap: 0;
  min-width: 0;
}

.record-card {
  padding: 0.75rem;
  gap: 0.375rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.timeLine-container {
  max-height: 70vh;
  overflow: auto;
  padding-left: 7px;
}

// .timeLine-container::-webkit-scrollbar {
//   width: 0px; /* Adjust as needed for vertical scrollbar width */
//   height: 0px; /* Adjust as needed for horizontal scrollbar height */
//   background-color: transparent; /* Make the background transparent */
// }

// /* Show scrollbar on hover */
// .timeLine-container:hover::-webkit-scrollbar {
//   width: 5px; /* Example width for vertical scrollbar on hover */
//   height: 5px; /* Example height for horizontal scrollbar on hover */
// }
