<div class="popup-container">
  <div class="d-flex align-items-start justify-content-between mb-3" mat-dialog-title>
    <span class="delete-icon" *ngIf="!data.Feedback">
      <svg width="2rem" height="2rem">
        <use [attr.xlink:href]="'assets/icons/sprite.svg#popup-delete'"></use>
      </svg>
    </span>
    <span *ngIf="data.Feedback"></span>
    <svg class="cursor-pointer" width="1.25rem" height="1.25rem" matDialogClose>
      <use [attr.xlink:href]="'assets/icons/sprite.svg#circle-close'"></use>
    </svg>
  </div>
  <mat-dialog-content>
    <p class="body-bold mb-2" [class.text-center]="data.isTextCenter" style="color: #000">
      {{ data.title | translate }}
    </p>

    <p class="body gray-700 mb-3" [class.text-center]="data.isTextCenter">
      {{ data.message | translate }}
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <button
        style="flex: 0 0 69%"
        class="button button-primary button-lg"
        [class.button-error]="!data.Feedback"
        (click)="onDelete()"
        *ngIf="data.delete"
      >
        <ng-container *ngIf="data.Feedback; else deleteText">
          {{ 'shared.deactivate' | translate }}
        </ng-container>
        <ng-template #deleteText>
          {{ 'shared.deletePopup' | translate }}
        </ng-template>
      </button>
      <button style="flex: 0 0 29%" matDialogClose class="button button-secondary button-lg">
        {{ 'shared.cancel' | translate }}
      </button>
    </div>
  </mat-dialog-content>
</div>
