@use 'src/assets/design-system/colors' as *;
@import '.././../../../../assets/scss/variables.scss';
@import '.././../../../../assets/scss/shared-details.scss';
@import '.././../../../../assets/scss/shared-modal-tabs.scss';

// =============== Transaction-Details Specific Styles ===============
// Color variant for pink theme
::ng-deep mat-tab-header .mat-mdc-tab-labels {
  background: #ead6db;
  color: #c08290;
}
::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
  color: #c08290;
}
::ng-deep mat-tab-header .mdc-tab.mdc-tab--active,
::ng-deep mat-tab-header .mdc-tab:hover {
  background: $rose-500;
}
::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active):hover .mdc-tab__text-label {
  color: #fff;
}

.info {
  padding: 1.25rem 1.5rem;
  gap: 0.75rem;
  border-radius: 0.75rem;
  background: $secondary-50;
}
.gold-line {
  opacity: 0.5;
  color: $secondary-300;
  margin: 0.75rem 0;
  height: 0.0625rem;
}

.gray-700 {
  color: $gray-700;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.attach-container {
  border-radius: 0.75rem;
  border: 1px solid $gray-100;
  background: $gray-50;
  padding: 0.75rem;
  width: 100%;
  margin: auto;
}

// Actions dialog

::ng-deep .modal-tabs mat-tab-header {
  margin-bottom: 1rem;
}
textarea {
  border-radius: 0.5rem;
  border: 1px solid #d9d9d9;
  background: $gray-50;
}
mat-accordion mat-expansion-panel:first-child {
  margin-top: 0 !important;
}
.sort_btn {
  cursor: pointer;
  padding: 4px;
  &:hover {
    background-color: #ece7df;
  }
}
