@use 'src/assets/design-system/colors' as *;
.single-approval-card {
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.75rem;
}
.approved {
  color: $green-500;
}
.rejected {
  color: $orange-500;
}
.noAnswer {
  color: $gray-500;
}
.comment {
  color: $secondary-500;
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .responsive-flex-column {
    flex-direction: column;
    align-items: start !important;
  }
  .single-approval-card {
    padding: 0.5rem;
    .body-bold {
      margin-right: 0.5rem !important;
      margin-left: 0 !important;
    }
    .button-sm {
      margin-top: 0.5rem;
    }
  }
}
