@use "src/assets/design-system/colors" as *;
.single-approval-card {
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.75rem;
  gap: 0.375rem;
}
.approved {
  color: $green-500;
}
.rejected {
  color: $orange-500;
}
.noAnswer {
  color: $gray-500;
}
.comment {
  color: $secondary-500;
}
