.close-icon-container {
  #close-icon {
    padding: 0;
    z-index: 100;
  }
}

.modal-header {
  position: relative;
  top: -2em;
  display: flex;
  flex-direction: row-reverse;

  h2 {
    flex-grow: 1;
  }
}

div[mat-dialog-contents],
div[mat-dialog-title] {
  padding: 0 24px 9px !important;
}

div[mat-dialog-contents] {
  position: relative;
  bottom: 2.8em;
  min-height: 350px;
  max-height: 350px;
  overflow: auto;

  @media (min-width: 1332px) {
    & {
      min-height: 200px;
      max-height: 350px;
    }
  }

  .mat-form-field-div {
    padding: 8px;

    @media (min-width: 1332px) {
      & {
        padding: 1em;
      }
    }
  }

  .optional-label {
    color: #333;
    font-size: 13px;
    @media (max-width: 1332px) {
      & {
        font-size: 14px;
      }
    }
  }
}

div[mat-dialog-actions] {
  padding: 1.5rem;
}

@media (max-width: 576px) {
  .mb {
    margin-bottom: 10px;
  }
}

.save-btn-container {
  padding: 1em;

  .save-btn {
    padding: 1.5em;
  }
  .save-btn:not([disabled]) {
    background: #3db5b5;
    color: #fff;
  }
}
