@import "../../../../assets/scss/variables.scss";

/**************** Table ********************/
::ng-deep app-title-description-table .mat-mdc-table {
  thead {
    background-color: #20545f !important;
  }
}

table {
  margin-top: -10px;
  width: 100%;
  tr {
    border-bottom: 1px solid #c4d7ed;
    font-size: 16px;
  }
  .mat-column-title {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
  }
  .mat-column-actions {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
  }
}

tr.example-detail-row {
  height: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 991px) {
  tr.example-detail-row {
    height: 0;
    display: contents;
    opacity: 1;
    visibility: visible;
  }
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flow-root;
}

ul.detail-element {
  display: inline-block;
  width: 100%;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 0 5px;

    p {
      font-size: 13px;
      color: #808080;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.example-element-description {
  padding: 12px;
}

::ng-deep {
  .mat-paginator {
    background: none;
  }
  @media only screen and (max-width: 360px) {
    .mat-button-wrapper {
      font-size: 13px;
    }
  }
  .mat-paginator-container {
    height: 60px;
    @media only screen and (max-width: 1200px) {
      justify-content: center !important;
    }
  }
}

::ng-deep .mat-paginator-page-size.ng-star-inserted {
  display: none;
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
  background: rgb(0 0 0 / 43%);
}

::ng-deep .cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1 !important;
}
::ng-deep .mat-paginator-page-size.ng-star-inserted {
  display: none;
}

.options-btn {
  background-color: #3db5b5;
  height: 40px;
}
.options-eye {
  width: 44px;
  padding: 9px;
  background: #f3f4f6;
  border-radius: 50%;
}
