div[mat-dialog-contents] {
  /* You can add global styles to this file, and also import other style files */

  .thumbnails {
    .page {
      max-width: 25%;
    }
  }

  .pdf-viewer-container {
    position: relative;

    .download-icon {
      position: absolute;
      top: 0;
      left: 24px;
      cursor: pointer;
      display: none;
    }

    &:hover {
      .download-icon {
        display: block;
      }
    }
  }
}

::ng-deep app-export-modal {
  .mat-mdc-tab-body-content {
    overflow: hidden !important;
  }
}

.no-border {
  border-bottom: none !important;
}
