@use 'sass:map';
@use 'typography' as *;
@use 'colors' as *;

// Button Variables
$btn-spacing-gap: 0.5rem;
$btn-radius: 0.5rem;
$btn-font-weight: $font-weight-bold;
$btn-line-height: normal;

// Size Variables
$btn-sizes: (
  'sm': (
    padding: 0.375rem 0.75rem,
    gap: 0.25rem,
    font-size: $font-size-xs,
  ),
  'md': (
    padding: 0.5rem 0.5rem,
    gap: 0.5rem,
    font-size: $font-size-base,
  ),
  'lg': (
    padding: 0.7rem 1rem,
    gap: 0.5rem,
    font-size: $font-size-base,
  ),
  'xl': (
    padding: 1rem 1.5rem,
    gap: 0.5rem,
    font-size: $font-size-base,
  ),
);

// Button Base Styles
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $btn-spacing-gap;
  border-radius: $btn-radius;
  font-family: $font-family-primary;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }

  // Button Sizes
  @each $size, $values in $btn-sizes {
    &-#{$size} {
      padding: map.get($values, padding) !important;
      gap: map.get($values, gap);
      font-size: map.get($values, font-size);
    }
  }

  // Button Variants
  &-primary {
    background: $primary-500 !important;
    border: 1px solid $primary-500;
    color: $gray-50 !important;
    border-radius: $btn-radius !important;
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
    line-height: normal !important;

    &:hover:not(:disabled) {
      opacity: 0.9;
    }

    &:active:not(:disabled) {
      background: $primary-700;
      border: 1px solid $primary-700;
      box-shadow: 0 0 0 2px $primary-100;
    }

    &:disabled {
      background: $primary-100 !important;
      border: 1px solid $primary-100;
      cursor: not-allowed;
    }
  }

  &-secondary {
    background-color: transparent;
    border: 1px solid $primary-500;
    color: $primary-500;
    font-weight: $font-weight-bold;
    line-height: normal;

    &:hover:not(:disabled) {
      background-color: $primary-50;
      transition: background-color 0.2s ease-in-out;
    }

    &:active:not(:disabled) {
      border-color: $primary-500;
      box-shadow: 0 0 0 2px $indigo-100;
    }

    &:disabled {
      border: 1px solid $primary-100;
      color: $primary-100;
      background-color: transparent;
    }
  }

  &-ghost {
    background-color: transparent;
    color: $primary-500;
    font-weight: $font-weight-bold;
    line-height: normal;

    &:hover:not(:disabled) {
      background-color: $primary-50;
      transition: background-color 0.2s ease-in-out;
    }

    &:active:not(:disabled) {
      background: $indigo-50;
      color: $primary-700;
    }

    &:disabled {
      color: $primary-100;
      background-color: transparent;
    }
  }

  // Icon Button
  &-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

// Media Query: decrease button font sizes at 1200px and above
@media (min-width: 1024px) and (max-width: 1500px) {
  .button {
    &-sm {
      font-size: calc(#{$font-size-xs} - 2px);
    }
    &-md {
      font-size: calc(#{$font-size-base} - 2px);
    }
    &-lg {
      font-size: calc(#{$font-size-base} - 2px);
    }
    &-xl {
      font-size: calc(#{$font-size-base} - 2px);
    }
  }
}
