@use "sass:map";

// Color Maps
// Primary
$primary-50: #d8effd;
$primary-100: #addefa;
$primary-200: #5bbdf6;
$primary-300: #0d9bed;
$primary-400: #08659b;
$primary-500: #043049;
$primary-600: #03263a;
$primary-700: #021c2c;
$primary-800: #02131d;
$primary-900: #01090f;
$primary-950: #01060a;

// Indigo
$indigo-50: #eef2ff;
$indigo-100: #e0e7ff;
$indigo-200: #c7d2fe;
$indigo-300: #a5b4fc;
$indigo-400: #818cf8;
$indigo-500: #6366f1;
$indigo-600: #4f46e5;
$indigo-700: #4338ca;
$indigo-800: #3730a3;
$indigo-900: #312e81;
$indigo-alt-50: #eff0fe;
$indigo-alt-100: #e5e6ff;

// Gray
$gray-50: #f5f5f5;
$gray-100: #d9d9d9;
$gray-200: #d9d9d9;
$gray-300: #c4c4c4;
$gray-400: #b3b3b3;
$gray-500: #9e9e9e;
$gray-600: #808080;
$gray-700: #5e5e5e;
$gray-800: #404040;
$gray-900: #1f1f1f;
$gray-950: #0f0f0f;

// Gray (alt)
$gray-alt-50: #ffffff;
$gray-alt-100: #f3f4f6;
$gray-alt-200: #e5e7eb;
$gray-alt-300: #d1d5db;
$gray-alt-400: #9ca3af;
$gray-alt-500: #6b7280;
$gray-alt-600: #4b5563;
$gray-alt-700: #374151;
$gray-alt-800: #1f2937;
$gray-alt-900: #111827;

// Secondary
$secondary-50: #f6f3ef;
$secondary-100: #ece7df;
$secondary-200: #dad0be;
$secondary-300: #c7b89e;
$secondary-400: #b5a07d;
$secondary-500: #a38a5f;
$secondary-600: #826d4a;
$secondary-700: #615238;
$secondary-800: #413725;
$secondary-900: #413725;
$secondary-950: #100e09;

// Blue
$blue-50: #daf3fb;
$blue-100: #b9e8f8;
$blue-200: #8bd2f1;
$blue-300: #4052e4;
$blue-400: #054458;
$blue-500: #128cb5;
$blue-600: #0b5870;
$blue-700: #074458;
$blue-800: #043241;
$blue-900: #021217;
$blue-950: #010709;

// Teal Blue
$teal-blue-50: #eef5f7;
$teal-blue-100: #d9e9ed;
$teal-blue-200: #b3d4db;
$teal-blue-300: #8cbec9;
$teal-blue-400: #66a9b7;
$teal-blue-500: #4a8f9e;
$teal-blue-600: #3b717d;
$teal-blue-700: #2c555e;
$teal-blue-800: #1d383f;
$teal-blue-900: #0f1c1f;
$teal-blue-950: #081011;

// Rose
$rose-50: #f5ebed;
$rose-100: #ead6db;
$rose-200: #d4aab4;
$rose-300: #c08290;
$rose-400: #aaa569;
$rose-500: #7f404f;
$rose-600: #663333;
$rose-700: #4e2730;
$rose-800: #331a20;
$rose-900: #1b0e11;
$rose-950: #0e0708;

// Green
$green-50: #edf7ee;
$green-100: #dbefdc;
$green-200: #b8e0b9;
$green-300: #94d196;
$green-400: #70c174;
$green-500: #4caf50;
$green-600: #3b8b3f;
$green-700: #2e6b30;
$green-800: #1f4720;
$green-900: #0f2410;
$green-950: #081208;

// Red
$red-50: #fbeaea;
$red-100: #f6d5d5;
$red-200: #edabab;
$red-300: #e48181;
$red-400: #db5757;
$red-500: #d32f2f;
$red-600: #a82424;
$red-700: #7e1b1b;
$red-800: #541212;
$red-900: #2a0909;
$red-950: #150404;

// Orange
$orange-50: #fff7ed;
$orange-100: #ffe9d0;
$orange-200: #ffd2a1;
$orange-300: #ffb872;
$orange-400: #ff9f43;
$orange-500: #ff8014;
$orange-600: #cc6610;
$orange-700: #994c0c;
$orange-800: #663308;
$orange-900: #331904;
$orange-950: #190c02;

// Function to get theme color value
@function get-color($palette, $tone: 500) {
  @return map.get($palette, $tone);
}
