<div class="grid">
  <div class="row mb-3">
    <div class="col-12">
      <div class="info mt-3">
        <div class="row">
          <div class="col-12">
            <span class="body">
              {{ 'TransactionsModule.TransactionsListComponent.transactionSubject' | translate }}
              :
            </span>

            <span class="body-bold">
              {{ requestContainerDetails?.title || '-' }}
            </span>
          </div>
        </div>
        <hr class="gold-line" />
        <div class="row">
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'shared.transactionNum' | translate }}
              :
            </span>

            <span class="body-bold">
              {{ requestContainerDetails?.transactionNumber || '-' }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'shared.priority' | translate }}
              :
            </span>

            <span
              class="body-bold"
              [ngStyle]="{
                color: requestContainerDetails?.duration?.color
              }"
            >
              {{
                requestContainerDetails?.priority
                  ? lang === 'ar'
                    ? requestContainerDetails.priority?.title
                    : requestContainerDetails.priority?.titleEn
                  : '-'
              }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'TransactionsModule.TransactionsListComponent.transactionStatus' | translate }}
              :
            </span>

            <span class="body-bold">
              {{
                requestContainerDetails?.containerStatus
                  ? (statusTranslationMap[requestContainerDetails?.containerStatus] | translate)
                  : '-'
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-12 scroll-cards">
      <ng-container *ngIf="data && data.length > 0">
        <ng-container *ngFor="let element of data">
          <div
            class="transaction-card cursor-pointer"
            [class.active]="activeCardId === element.id"
            (click)="onCardClick(element)"
          >
            <!-- <svg
              [class.active]="activeCardId === element.id"
              class="svg-arrow"
              width="1.5rem"
              height="1.5rem"
            >
              <use
                [attr.xlink:href]="'assets/icons/sprite.svg#blue-border'"
              ></use>
            </svg> -->
            <div>
              <span class="body gray-700 text-small">{{ 'shared.title' | translate }} : </span>
              <span class="body-bold">
                {{
                  (pageType === 'import' ? element.title : element.requestContainer?.title) || '-'
                }}
              </span>
            </div>
            <hr class="line" />

            <!-- //////////////////////////////// -->
            <ng-container *ngIf="pageType === 'import'">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center col-md-6 col-12">
                  <span class="body gray-700 text-small">{{ 'shared.type' | translate }} : </span>
                  <svg class="mx-1" width="1.25rem" height="1.25rem">
                    <use
                      [attr.xlink:href]="
                        'assets/icons/sprite.svg#' +
                        (element.isExportDocument ? 'red-import' : 'green-export')
                      "
                    ></use>
                  </svg>
                  <span
                    class="body-bold"
                    [style.color]="element.isExportDocument ? '#D32F2F' : '#4CAF50'"
                  >
                    {{ (element.isExportDocument ? 'shared.export' : 'shared.import') | translate }}
                  </span>
                </div>
                <div class="col-md-6 col-12">
                  <span class="body gray-700 text-small"
                    >{{
                      element.isExportDocument
                        ? ('shared.exportedType' | translate)
                        : ('shared.categorization' | translate)
                    }}
                    :
                  </span>
                  <span class="body-bold" *ngIf="element.isExportDocument">
                    <ng-container>
                      <span *ngIf="element.documentType === ExportedDocumentType.Letter">
                        {{ 'TransactionsModule.ExportDocumentComponent.letter' | translate }}
                      </span>
                      <span *ngIf="element.documentType === ExportedDocumentType.Note">
                        {{ 'TransactionsModule.ExportDocumentComponent.note' | translate }}
                      </span>
                      <span *ngIf="element.documentType === ExportedDocumentType.Record">
                        {{ 'TransactionsModule.ExportDocumentComponent.record' | translate }}
                      </span>
                      <span *ngIf="element.documentType === ExportedDocumentType.Other">
                        {{ element.otherDocumentType?.title }}
                      </span>
                    </ng-container>
                  </span>
                  <span class="body-bold" *ngIf="!element.isExportDocument">
                    {{
                      lang === 'ar'
                        ? element.requestType?.title
                        : element.requestType?.titleEn || '-'
                    }}
                  </span>
                </div>
              </div>
              <hr class="line" />
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <span class="body gray-700 text-small">{{ 'shared.date' | translate }} : </span>
                  <span class="body-bold">
                    {{ (element.date | date : 'dd/MM/yyyy') || '-' }}
                  </span>
                </div>
              </div>
            </ng-container>
            <!-- ////////////////////////////////// -->
            <ng-container *ngIf="pageType !== 'import'">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center col-md-6 col-12">
                  <span class="body gray-700 text-small">{{ 'shared.number' | translate }} : </span>
                  <span class="body-bold">{{ element?.autoNumber }}</span>
                </div>
                <div class="d-flex align-items-center col-md-6 col-12">
                  <span class="body gray-700 text-small"
                    >{{ 'shared.container' | translate }} :
                  </span>
                  <span class="body-bold">{{ element?.transactionNumber }}</span>
                </div>
              </div>
              <hr class="line" />
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center col-md-6 col-12">
                  <span class="body gray-700 text-small"
                    >{{ 'shared.priority' | translate }} :
                  </span>
                  <span class="body-bold" [style.color]="element?.priority?.id! | priorityColor">
                    {{ lang === 'ar' ? element?.priority?.title : element?.priority?.titleEn }}
                  </span>
                </div>
                <div class="d-flex align-items-center col-md-6 col-12">
                  <span class="body gray-700 text-small">{{ 'shared.status' | translate }} : </span>
                  <svg width="1.25rem" height="1.25rem">
                    <use
                      [attr.xlink:href]="'assets/icons/sprite.svg#status-' + element.status"
                    ></use>
                  </svg>
                  <span class="body-bold mx-1">
                    {{ getRequestStatusTranslation(element?.status!) | translate }}
                  </span>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="col-md-7 col-12">
      <div class="transaction-card" *ngIf="showAuthorizationContainer">
        <app-authorization-container></app-authorization-container>
      </div>
      <div
        class="transaction-card"
        *ngIf="pageType === 'import' && details?.isExportDocument && !showAuthorizationContainer"
      >
        <div class="row">
          <div class="col-12">
            <!-- <app-pdf-viewer [previewType]="'iframe'" [src]="exportableDocument.pdfSrc"></app-pdf-viewer> -->
            <iframe [src]="exportableDocument.pdfSrc" style="width: 100%; height: 90vh"></iframe>
          </div>
          <div class="col-12 mt-3">
            <button
              (click)="onViewElement(details.id)"
              class="button button-ghost button-md d-flex align-items-center w-100 bg-custom"
            >
              {{ 'shared.goToExport' | translate }}
              <svg width="1.5rem" height="1.5rem">
                <use [attr.xlink:href]="'assets/icons/sprite.svg#goToTransaction'"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div
        class="transaction-card"
        *ngIf="details && !details?.isExportDocument && !showAuthorizationContainer"
      >
        <ng-container *ngIf="pageType === 'transaction'">
          <span class="body-bold">
            {{ 'ImportsExportsModule.RequestDetailsComponent.basicInfo' | translate }}</span
          >
          <hr class="line" />
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="body gray-700 text-small mb-2">
                {{ 'TransactionsModule.TransactionsListComponent.transactionStatus' | translate }}
              </p>

              <span class="body-bold text-small">
                {{
                  getContainerStatusTranslation(details?.container?.containerStatus!) | translate
                }}
              </span>
            </div>
            <div class="col-12 col-md-4">
              <p class="body gray-700 text-small mb-2">
                {{ 'shared.sector' | translate }}
              </p>

              <span class="body-bold text-small">
                {{
                  lang === 'ar'
                    ? details.container?.sector?.title || '-'
                    : details.container?.sector?.titleEn || '-'
                }}
              </span>
            </div>
          </div>
          <hr class="line" />

          <div class="row">
            <div class="col-12 col-md-4">
              <p class="body gray-700 text-small mb-2">
                {{ 'shared.incomingFoundation' | translate }}
              </p>

              <span class="body-bold text-small">
                {{
                  lang === 'ar'
                    ? details.container?.foundation?.title || '-'
                    : details.container?.foundation?.titleEn || '-'
                }}
              </span>
            </div>
            <div class="col-12 col-md-4">
              <p class="body gray-700 text-small mb-2">
                {{ 'shared.concernedFoundations' | translate }}
              </p>
              <span
                class="body-bold text-small"
                *ngIf="details?.container?.concernedFoundations.length == 0"
              >
                -
              </span>
              <div class="consultant" *ngFor="let item of details?.container?.concernedFoundations">
                <span class="body-bold text-small">{{ item?.title }}</span>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <p class="body gray-700 text-small mb-2">
                {{ 'shared.subFoundation' | translate }}
              </p>

              <span class="body-bold text-small">
                {{
                  lang === 'ar'
                    ? details.container?.subFoundation?.title || '-'
                    : details.container?.subFoundation?.titleEn || '-'
                }}
              </span>
            </div>
          </div>
        </ng-container>
        <span class="body-bold d-block" [class.mt-5]="pageType === 'transaction'">
          {{ 'ImportsExportsModule.RequestDetailsComponent.importData' | translate }}
        </span>
        <hr class="line" />
        <div class="row">
          <div class="col-12">
            <p class="body gray-700 text-small mb-2">
              {{ 'shared.transactionTitle' | translate }}
            </p>
            <span class="body-bold text-small">
              {{ details?.title }}
            </span>
          </div>
        </div>
        <hr class="line" />
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'ManageDocumentsModule.AddDocumentPage.incomingNumber' | translate }}
            </p>

            <span class="body-bold text-small">
              {{ details.importNumber || '-' }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'shared.priority' | translate }}
            </p>

            <span
              class="body-bold text-small"
              [ngStyle]="{
                color: details.priority?.id! | priorityColor
              }"
            >
              {{
                lang === 'ar'
                  ? details && details?.priority?.title
                  : details && details?.priority?.titleEn
              }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'ManageDocumentsModule.AddDocumentPage.incomingStatus' | translate }}
            </p>

            <span class="body-bold text-small">
              {{ getRequestStatusTranslation(details?.status!) | translate }}
            </span>
          </div>
        </div>
        <hr class="line" />
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'ImportsExportsModule.RequestDetailsComponent.recordNumber' | translate }}
            </p>

            <span class="body-bold text-small">
              {{ details.deliveryNumber || '-' }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'ManageDocumentsModule.AddDocumentPage.LetterNumberRequestingParty' | translate }}
            </p>

            <span class="body-bold text-small">
              {{ details.physicalNumber || '-' }}
            </span>
          </div>
        </div>
        <hr class="line" />
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'shared.incomingFoundation' | translate }}
            </p>

            <span class="body-bold text-small">
              {{
                lang === 'ar'
                  ? details?.foundation?.title || '-'
                  : details?.foundation?.titleEn || '-'
              }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'shared.concernedFoundations' | translate }}
            </p>
            <span class="body-bold text-small" *ngIf="details?.concernedFoundations?.length == 0">
              -
            </span>
            <div class="consultant" *ngFor="let item of details?.concernedFoundations">
              <span class="body-bold text-small">{{ item?.title }}</span>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'ManageDocumentsModule.AddDocumentPage.documentType' | translate }}
            </p>
            <span class="body-bold text-small">
              {{ lang === 'ar' ? details?.requestType?.title : details?.requestType?.titleEn }}
            </span>
          </div>
        </div>
        <hr class="line" />
        <div class="row">
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'shared.importDate' | translate }}
            </p>

            <span class="body-bold text-small">
              {{ (details.deliveryDate | date : 'dd/MM/yyyy') || '-' }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'shared.noDebtDate' | translate }}
            </p>
            <span class="body-bold text-small">
              {{ (details.availabilityDate | date : 'dd/MM/yyyy') || '-' }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'shared.treatmentMechanism' | translate }}
            </p>
            <span class="body-bold text-small">
              {{ details?.committee?.committeeSymbol }}
            </span>
          </div>
        </div>
        <hr class="line" />
        <div class="row">
          <div class="col-12 col-md-4 offset-md-4">
            <p class="body gray-700 text-small mb-2">{{ 'shared.consultants' | translate }}</p>
            <span class="body-bold text-small" *ngIf="details?.consultants?.length == 0">
              {{ 'shared.noConsultants' | translate }}
            </span>
            <div class="consultant" *ngFor="let consultant of details?.consultants">
              <span class="body-bold text-small">{{ consultant?.name }}</span>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <p class="body gray-700 text-small mb-2">
              {{ 'shared.subFoundation' | translate }}
            </p>
            <span class="body-bold text-small">
              {{
                lang === 'ar'
                  ? details.subFoundation?.title || '-'
                  : details.subFoundation?.titleEn || '-'
              }}
            </span>
          </div>

          <div class="col-12 mt-3">
            <button
              (click)="onViewElement(details.id)"
              class="button button-ghost button-md d-flex align-items-center w-100 bg-custom"
            >
              {{
                (pageType === 'import' ? 'shared.goToImport' : 'shared.goToTransaction') | translate
              }}
              <svg width="1.5rem" height="1.5rem">
                <use [attr.xlink:href]="'assets/icons/sprite.svg#goToTransaction'"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex justify-content-center p-2 align-items-center flex-column request-no-data"
      *ngIf="data?.length == 0"
    >
      <img
        class="w-25 mb-3"
        src="../assets/images/Illustration_found.svg"
        alt="under construction"
      />
      <div class="body-bold noData">
        {{ 'shared.noData' | translate }}
      </div>
    </div>
  </div>
</div>
