<section class="m-0 mb-3">
  <div class="grid">
    <div class="row">
      <div class="col">
        <div
          class="timeline-steps"
          [class.justify-content-center]="data.length <= 7"
        >
          <div class="timeline-scroll-wrapper">
            <div
              class="svg-arrows cursor-pointer"
              [style.visibility]="canScrollRight ? 'visible' : 'hidden'"
              (click)="scrollTimeline(200)"
            >
              <svg class="" width="1rem" height="1rem">
                <use
                  [attr.xlink:href]="
                    'assets/icons/sprite.svg#scroll-arrow-right'
                  "
                ></use>
              </svg>
            </div>

            <div class="timeline-steps-scroll" #timelineScroll>
              <div
                *ngFor="let item of data; let i = index"
                class="mb-1 d-flex justify-content-center align-items-center fit-width"
              >
                <div class="timeline-step" [class.red-color]="!item.date">
                  <ng-container *ngIf="data.length && i === data.length - 1">
                    <span #lastElement></span>
                  </ng-container>
                  <div class="d-flex align-items-start timeline-content">
                    <svg width="2rem" height="2rem" class="">
                      <use
                        [attr.xlink:href]="
                          i === data.length - 1
                            ? 'assets/icons/sprite.svg#stepper-red'
                            : 'assets/icons/sprite.svg#stepper-green'
                        "
                      ></use>
                    </svg>
                    <div class="flex-column d-flex mx-2">
                      <p class="caption-bold mb-2">
                        {{ item.date | date : "dd/MM/yyyy - hh:mm a" }}
                      </p>
                      <p class="caption-bold mb-0">{{ item.title }}</p>
                    </div>
                  </div>
                </div>
                <!-- Only show the line if it's NOT the last item -->
                <svg
                  *ngIf="i < data.length - 1"
                  width="42px"
                  height="2px"
                  class=""
                >
                  <use
                    [attr.xlink:href]="
                      i === data.length - 2
                        ? 'assets/icons/sprite.svg#line-red'
                        : 'assets/icons/sprite.svg#line-green'
                    "
                  ></use>
                </svg>
              </div>
            </div>
            <div
              class="svg-arrows cursor-pointer"
              [style.visibility]="canScrollLeft ? 'visible' : 'hidden'"
              (click)="scrollTimeline(-200)"
            >
              <svg width="1rem" height="1rem" class="rotate mx-2">
                <use
                  [attr.xlink:href]="
                    'assets/icons/sprite.svg#scroll-arrow-right'
                  "
                ></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
