@use 'src/assets/design-system/colors' as *;
.lists-container {
  p {
    margin-bottom: 0;
  }

  .file-img {
    max-width: 70px !important;
    object-fit: cover;

    @media (min-width: 1332px) {
      & {
        max-width: 100px !important;
      }
    }
  }

  .grid-container {
    margin: 0;
    font-size: 14px;
    @media (min-width: 1332px) {
      & {
        font-size: 1rem !important;
      }
    }
  }
  ::ng-deep .mat-mdc-icon-button svg {
    height: auto;
    width: auto;
  }
  ::ng-deep .mat-mdc-icon-button .mat-mdc-button-ripple {
    display: none;
  }
}
#main-btns-container {
  gap: 1em;

  .btn-card,
  .export-card {
    background: #fff;
    display: flex;
    gap: 1em;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;

    @media (min-width: 1332px) {
      & {
        font-size: 1rem;
      }
    }

    img {
      height: 18px;
      width: 20px;
      object-fit: cover;
    }
  }

  .btn-card {
    padding: 0.5em 0.7em;
    @media (min-width: 1332px) {
      & {
        padding: 0.7em 0.9em;
      }
    }
  }
}

@media (max-width: 576px) {
  .mt-s {
    margin-top: 1em;
  }
  .heading {
    margin-bottom: 1em;
  }
}

.icons-container {
  width: 120px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  padding: 0.2em;
  border-radius: 8px;
  margin-top: 6px;

  @media (min-width: 1332px) {
    & {
      padding: 0.3em;
    }
  }
}

.active-background {
  background-color: #ebf5f5;
}

.view-icon {
  cursor: pointer;
  object-fit: cover;
  padding: 6px;
  min-width: 30px;
  min-height: 30px;
  @media (max-width: 576px) {
    & {
      width: 40px;
    }
  }
}

.buttons-container {
  display: flex;
  gap: 5px;
  max-height: 35px;

  button {
    cursor: pointer;
    border: navajowhite;
    border-radius: 6px;
  }
}

/******************* Grid card styles ***********************/

.grid-item-container {
  background-color: #fff;
  margin-bottom: 1.5em;
  flex-basis: 48%;
  padding: 1.3em;
  border-radius: 11px;
  gap: 10px;

  @media (max-width: 576px) {
    & {
      width: 100%;
    }
  }

  .icon-div {
    img {
      max-width: 24px;
      object-fit: cover;
    }
  }
}

/**************** Table ********************/

::ng-deep app-regular-reports-list .mat-mdc-table {
  thead {
    background-color: #20545f !important;
  }
}

table {
  margin-top: -10px;
  width: 100%;
  .mat-mdc-button-persistent-ripple tr {
    border-bottom: 1px solid #c4d7ed;
  }

  .bg-hover:hover {
    .mat-mdc-cell {
      background-color: #f1e8e8 !important;
    }
  }

  .pointer {
    .mat-column-icon,
    .mat-column-title,
    .mat-column-author,
    .mat-column-editor,
    .mat-column-isActive {
      cursor: pointer;
    }
  }

  .mat-column-icon {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;

    img {
      max-width: 30px;
      object-fit: cover;
    }
  }

  td.mat-column-name {
    word-wrap: break-word;
    word-break: break-word;
    font-weight: bold;
  }

  td.mat-column-timeCreated,
  td.mat-column-timeLastModified,
  td.mat-column-authorName,
  td.mat-column-subDirectoryCount {
    color: #8c949c;
  }

  .mat-column-actions {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    /*     padding-left: 24px !important;
 */
  }

  tr.example-detail-row {
    height: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  @media only screen and (max-width: 991px) {
    tr.example-detail-row {
      height: 0;
      display: contents;
      opacity: 1;
      visibility: visible;
    }
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flow-root;
  }

  ul.detail-element {
    display: inline-block;
    width: 100%;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin: 15px 0;
      padding: 0 5px;

      p {
        font-size: 13px;
        color: #808080;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 12px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  ::ng-deep {
    .mat-paginator {
      background: none;
    }
    @media only screen and (max-width: 360px) {
      .mat-button-wrapper {
        font-size: 13px;
      }
    }
    .mat-paginator-container {
      height: 60px;
      @media only screen and (max-width: 1200px) {
        justify-content: center !important;
      }
    }
  }

  ::ng-deep .mat-paginator-page-size.ng-star-inserted {
    display: none;
  }

  .table-actions {
    margin: 0;
    padding: 0;

    height: 45px;
    overflow: hidden;
    background: transparent; //#f0f5fa;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #c4d7ed;

    > div {
      padding: 0;
      height: 100%;
      position: relative;
    }

    .search-container {
      width: 400px;
      font-size: 15px;
      height: 100%;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      padding: 0 10px;
      @media screen and (max-width: 767px) {
        width: 100% !important;
      }

      input {
        opacity: 0.8;
      }
    }

    ::ng-deep {
      .mat-paginator {
        background: none;
      }

      .mat-paginator-container {
        height: 60px;
      }
    }
  }

  @media (max-width: 576px) {
    .table-actions {
      display: none;
    }
  }

  .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    background: rgb(0 0 0 / 43%);
  }

  ::ng-deep .cdk-overlay-transparent-backdrop,
  .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1 !important;
  }
  ::ng-deep .mat-paginator-page-size.ng-star-inserted {
    display: none;
  }

  .options-btn {
    background-color: #362f30;
    height: 40px;
  }
}

@media (max-width: 992px) {
  .top-paginator {
    margin-top: 1em;
  }
}
.inactive-card {
  border: 1px solid #ff000059;
  background-color: #ffffff7d;
}
percent-gauge-chart {
  justify-content: center;
  display: flex;
}
button {
  background: transparent;
  border: 0 !important;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: right;
}
.folder {
  margin: 0 3px;
}
mat-tree-node {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}
// mat-tree-node button {
//   padding-top: 8px;
// }
// .sp_margin_bottom {
//   margin-bottom: -15px !important;
// }
.rr-first {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rr-last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 12px !important;
}
mat-tree-node.rr-root,
mat-tree-node.rr-child {
  width: 100%;
  box-sizing: border-box;
}
mat-tree-node.rr-root {
  padding: 12px !important;
  padding-bottom: 0 !important;
  font-size: 16px;
  font-weight: bolder;
  margin-top: 12px;
  &:first-child {
    margin-top: 0 !important;
  }
}
.sp_mb.rr-root {
  margin-top: 12px !important;
  &:first-child {
    margin-top: 0 !important;
  }
  border-radius: 8px;
  .tree_node_content {
    border-bottom: 0;
  }
}
.rr-group-unknown {
  background: #ffffff;
}
.menu_btn {
  padding: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.svg-menu-open {
  width: 24px;
  height: 24px;

  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    background-color: $gray-200;
  }
}
.delete-color {
  color: #d32f2f !important;
}

.checkboxes {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.checkboxes__row {
  display: flex;
}
.checkboxes__row:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.checkbox.style-d {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-d input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark {
  background-color: #007aff;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-d input:checked ~ .checkbox__checkmark {
  border: 0;
}
.checkbox.style-d:hover input ~ .checkbox__checkmark {
  background-color: #fff;
  border: 3px solid #c4c4c4;
}
.checkbox.style-d:hover input:checked ~ .checkbox__checkmark {
  border: 0;
}
.checkbox.style-d:hover input:checked ~ .checkbox__checkmark {
  background-color: #007aff;
}
.checkbox.style-d:hover input ~ .checkbox__body {
  color: #007aff;
}
.checkbox.style-d .checkbox__checkmark {
  position: absolute;
  top: 1px;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border: 3px solid #c4c4c4;
  border-radius: 11px;
}
.checkbox.style-d .checkbox__checkmark:after {
  content: '';
  position: absolute;
  right: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-d .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: color 0.25s ease;
}

.menu_item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.menu_item img,
.menu_item svg {
  display: inline-flex;
}
::ng-deep .mat-mdc-dialog-surface {
  border-radius: 10px;
}

.rr-child .bold-body {
  font-weight: bolder;
  font-size: 16px;
}
mat-tree-node {
  padding-inline-end: 15px;
}
.tree_node_content {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 12px;
}

.rr-last .tree_node_content {
  border-bottom: 0;
  // margin-bottom: 10px;
}
.rr-last {
  .report_container {
    // margin-top: 10px;
  }
}
.rr-child .report_container {
  border-bottom: 0;
  background-color: $gray-100;
  padding: 4px;
  border-radius: 8px;
}
.selcted {
  background: #fff !important;
  margin-inline-end: 8px;
  border: 1px solid #5bbdf6;
  border-radius: 10px;
  padding: 0 10px;
  position: relative;
  border-bottom: 1px solid #5bbdf6 !important;
}
.rr-last .tree_node_content.selcted {
  border-bottom: 1px solid #5bbdf6 !important;
}
// .selcted::before {
//   position: absolute;
//   content: '';
//   top: 23%;
//   left: -12px;
//   width: 0;
//   height: 0;
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;
//   border-right: 12px solid #5bbdf6;
// }

// .selcted::after {
//   position: absolute;
//   content: '';
//   top: 27%;
//   left: -10px;
//   width: 0;
//   height: 0;
//   border-top: 8px solid transparent;
//   border-bottom: 8px solid transparent;
//   border-right: 10px solid #fff;
// }

.selcted::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19" fill="none"><g clip-path="url(%23clip0_10478_20332)"><path d="M0.726562 8.97222L10.5013 0V19L0.726562 8.97222Z" fill="white"/><path d="M9.6867 18L0.726562 9.18518L9.6867 1" stroke="%235BBDF6"/></g><defs><clipPath id="clip0_10478_20332"><rect width="11" height="19" fill="white"/></clipPath></defs></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  width: 11px;
  height: 19px;
  transform: translateY(-50%);
}
.details_bg {
  background-color: #f5f5f5;
  border-radius: 10px;
}
.sorting_btn {
  border-radius: 0.5rem;
  border: 1px solid #d9d9d9 !important;
  background: #fff;
  margin-left: 8px;
  padding: 8px 9px;
  transition: transform 0.3s ease-in-out;
}
.selectedSort {
  border: 1px solid #0f0f0f;
}
.asc_btn img {
  transform: rotate(180deg);
}
.asc_btn.selectedSort img {
  transform: rotate(0deg);
}
.desc_btn img {
  transform: rotate(0deg);
}
.desc_btn.selectedSort img {
  transform: rotate(180deg);
}
.rotate-180 {
  transform: rotate(180deg) !important;
}
h3 {
  font-size: 12px;
  color: #0f0f0f;
  padding: 14px !important;
  font-weight: bold;
  margin: 0;
}
.data_span {
  color: #5e5e5e;
  font-size: 12px;
  padding: 12px;
}
.rr-child .tree_node_content:hover {
  background-color: #ebebeb !important;
}
.rr-child .report_container:hover {
  background-color: #fff !important;
  color: #878282 !important;
}
.rr-child .report_container:hover button {
  color: #878282 !important;
}
.menu_btn mat-icon {
  margin-left: 2px;
}
::ng-deep .mat-mdc-menu-panel {
  min-width: 150px !important;
}
// ::ng-deep  button.mat-mdc-menu-item,::ng-deep  span.mat-mdc-menu-item{
//       border-bottom: 1px solid #D9D9D9 !important
// }
.delete-color {
  border-bottom: 0 !important;
}

.rr-root,
.rr-child .tree_node_content {
}

.rr-child {
  padding-inline-start: 30px;
}
.report_main_folder {
  margin-inline-end: 10px;
}
.iconic_btn {
  width: 1rem;
  height: 1rem;
  margin-left: 5px;
}
::ng-deep mat-tree-node .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  border-radius: 5px !important;
  top: 12px !important;
  bottom: 12px !important;
  left: 12px !important;
  right: 12px !important;
}

// ::ng-deep mat-tree-node .mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple {
//   background-color: #ebebeb;
// }
.no_data_contaner {
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.button-secondary {
  background-color: transparent !important;
  border: 1px solid #043049 !important;
  color: #043049;
  font-weight: bolder;
  line-height: normal;
}
.button-secondary:hover:not(:disabled) {
  background-color: #d8effd !important;
  transition: background-color 0.2s ease-in-out !important  ;
}
.button-secondary:disabled {
  border: 1px solid #addefa !important;
  color: #addefa !important;
  background-color: transparent !important;
}
.fixed_height {
  max-height: 80vh;
  overflow-y: auto;
}
.fixed_height.col-md-7 {
  max-height: 80vh;
  overflow-y: hidden;
  // display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.details_container {
  width: 100%;
}
.search_btn {
  width: 6rem;
}
::ng-deep .mat-mdc-menu-item {
  min-height: auto !important;
}

::ng-deep .mat-mdc-menu-item:last-child .mat-mdc-menu-item-text {
  // padding: 10px 0 !important;
  border-bottom: 0 !important;
  // width: 100%;
}
.data_span span {
  margin-inline-end: 10px;
}

// In your component's SCSS file
::ng-deep .mat-tree {
  // Prevent flash during updates
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translateZ(0);

  .mat-tree-node {
    // Ensure nodes have stable dimensions
    min-height: auto;
    padding-top: 10px;
    height: auto;
    transition: none !important; // Disable transitions during updates

    &.cdk-tree-node-inserted,
    &.cdk-tree-node-removed {
      // Custom animation for inserted/removed nodes
      animation-duration: 0.3s;
      animation-fill-mode: both;
    }

    &.cdk-tree-node-inserted {
      animation-name: fadeInUp;
    }

    &.cdk-tree-node-removed {
      animation-name: fadeOutDown;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}

::ng-deep .reports-dropdown-menu-btn {
  border-radius: var(--Radius-radius-sm, 6px);
  background: #fff;
  padding: 8px;
  /* Effect style */
  box-shadow: -1px -1px 10px 0 var(--Colours-Primary-50, #d8effd) !important;
  ::ng-deep .mat-mdc-menu-content {
    padding: 0;
  }
  ::ng-deep .mat-mdc-menu-item {
    padding: 0;
  }
  ::ng-deep .mat-mdc-menu-item .mat-mdc-menu-item-text {
    padding: 6px 0 !important;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    &:last-child {
      border-bottom: 0 !important;
    }
  }
}

// Text truncation for 2 lines with ellipsis
.text-truncate-2lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
