@use "src/assets/design-system/colors" as *;
@import "../../../../../assets/scss/variables.scss";
mat-toolbar {
  padding: 0;
  height: 5rem;
  border-bottom: 1px solid $primary-200;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header-container > div {
  display: flex;
  align-items: center;
}

.heading {
  display: flex;
  gap: 8px;
  align-items: center;
  transform: scale(1.2);
}

.logo-img,
.notifications-img {
  cursor: pointer;
  max-width: 32px;
  width: 100%;
  height: 32px;
  object-fit: cover;
}

.header-icons-container {
  margin: 0 18px;
}

.w-100 {
  width: 100% !important;
}

.lang-switcher {
  width: 80px;
  height: 64px;
  display: flex;
  align-items: center;

  ::ng-deep {
    .mat-mdc-select-value-text {
      span {
        font-size: 14px !important;

        @media screen and (max-width: 350px) {
          font-size: 12px;
        }
      }
    }
  }

  img {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
}

mat-select {
  margin: 0 8px;
}

.text-uppercase {
  text-transform: uppercase;
}

@media (max-width: 660px) {
  mat-toolbar {
    height: 110px;
  }

  .header-container {
    flex-wrap: wrap;
  }

  .lang-switcher {
    height: auto;
  }

  .header-icons-container {
    margin-left: auto;
    /*  position: relative;
    bottom: 10px; */

    ::ng-deep.mat-mdc-form-field-infix {
      min-height: auto;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

/********** Cart items ***********/
.cart-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px 6px 6px;

  &:hover:not(.no-hover) {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .mat-menu-item:hover:not([disabled]) {
    background-color: transparent;
  }

  .cart-item-btn {
    color: #6d7278;
    font-size: 14px;
    padding: 0px 24px;
  }
}
