#close-icon {
  padding: 0;
}

img.close-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

div[mat-dialog-contents] {
  height: 200px;
  padding: 0 24px 9px;
}

div[mat-dialog-actions] {
  padding: 1.5rem;
}

.label-container {
  margin-bottom: 12px;
}
.btnMd {
  width: 30%;
}
.btnSmall {
  width: 25%;
}

.save-btn:not([disabled]) {
  background-color: #3db5b5 !important;
  color: #fff;
}

@media (max-width: 576px) {
  .label-container {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px) {
  .btnSmall {
    width: 40%;
  }
  .btnMd {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .btnMd {
    width: 55%;
  }
}
@media screen and (max-width: 330px) {
  .btnSmall {
    width: 37%;
  }
}
