@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/design-system/_colors.scss';
@import '../../../../../assets/scss/shared-list-views.scss';
@import '../../../../../assets/scss/shared-details.scss';
@import '../../../../../assets/scss/shared-modal-tabs.scss';
.transaction-card {
  max-width: 99% !important;
  border-radius: 8px !important;
}
.transaction-card.active {
  /* Drop Shadow/300 */
  box-shadow: var(--sds-size-depth-0) var(--sds-size-depth-100) var(--sds-size-depth-100)
      var(--sds-size-depth-negative-025) var(--sds-color-black-200),
    var(--sds-size-depth-0) var(--sds-size-depth-100) var(--sds-size-depth-100)
      var(--sds-size-depth-negative-025) var(--sds-color-black-100);
  .gold {
    color: $secondary-500;
  }
}

// Media query for screens larger than 1300px
@media (max-width: 1300px) {
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
.notesNoData {
  height: 62vh;
}
