@use 'src/assets/design-system/colors' as *;
// Add styles for readonly/disabled input
.shared-input__control[readonly],
.shared-input__control[disabled],
.readonly-input .shared-input__control[readonly],
.readonly-input .shared-input__control[disabled] {
  background-color: #f5f5f5 !important;
  color: #888 !important;
  cursor: not-allowed !important;
  border-color: #e0e0e0 !important;
  opacity: 1 !important;
}
.shared-input {
  display: flex;

  &__label {
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--theme-color1-dark, #333);
  }

  &__control {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: border-color 0.2s ease;
    display: flex;
    height: 3rem;
    padding: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
    flex: 1 0 0;
    border-radius: 0.5rem;
    border: 1px solid #d9d9d9;
    background: #fff;
    width: 100%;

    &::placeholder {
      font-weight: 400;
      color: #999;
    }

    &:not(:placeholder-shown) {
      font-weight: 700;
    }

    &.ng-invalid.ng-touched {
      border-color: #e53e3e;
    }

    &:focus {
      // outline: none;
      // border-color: var(--theme-color1, #3182ce);
      // box-shadow: 0 0 0 2px rgba(var(--theme-color1-rgb, 49, 130, 206), 0.2);
    }

    // Remove focus styles if disabled or readonly
    &:focus:disabled,
    &:focus[readonly] {
      border-color: #e0e0e0 !important;
      box-shadow: none !important;
    }

    &:disabled {
      background: #f5f5f5;
      cursor: not-allowed;
    }
  }

  &__errors {
    margin-top: 0.25rem;
  }

  &__error {
    display: block;
    font-size: 0.875rem;
    color: #e53e3e;
    line-height: 1.2;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-icon-left {
  left: 0.5rem;
  cursor: pointer;
}

.input-icon-right {
  right: 0.5rem;
  pointer-events: none;
}
.input-icon.clicked {
  color: $primary-200;
}
