@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/design-system/_colors.scss';
@import '../../../../../assets/scss/shared-list-views.scss';
@import '../../../../../assets/scss/shared-details.scss';
@import '../../../../../assets/scss/shared-modal-tabs.scss';

// Imports-Exports List Specific Styles
.noData {
  color: #d9d9d9;
  font-size: 30px !important;
}

.isRestricted {
  position: absolute;
  top: 10px;
  left: 5px;
}

.pdf_card {
  background-color: #ece7df;
}
.export-icon {
  border-radius: 0.5rem;
  background: #fff;
  padding: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
}
