<section class="records-list-container grid">
  <div class="row justify-content-between">
    <div class="col-12 col-lg-4 d-flex align-items-center">
      <!-- <a class="cursor-pointer" routerLink="../">
        <img src="assets/icons/right-arrow.png" alt="Navigation back." class="arrow-icon"
          [class.rotate-arrow]="lang === 'en'" />
      </a> -->
      <p class="body-bold mb-0">
        {{ 'shared.importsExports' | translate }}
      </p>
    </div>

    <div
      class="col-12 col-lg-8 d-flex align-items-center justify-content-end"
      id="main-btns-container"
    >
      <ng-container *ngxPermissionsOnly="[PermissionsObj.ViewDeliveryReceipt]">
        <div
          *ngIf="filtersData.isExportDocument"
          (click)="onNavToDeliveryReceipts()"
          class="export-card"
        >
          <span class="d-flex cursor-pointer" matTooltip="تعديل تواريخ بيانات التسليم">
            <mat-icon>apps</mat-icon>
          </span>
        </div>
      </ng-container>

      <ng-container *ngxPermissionsOnly="[PermissionsObj.CreateDeliveryReceipt]">
        <div
          *ngIf="filtersData.isExportDocument"
          (click)="onPrintDeliveryReceipts()"
          class="export-card"
        >
          <span
            class="d-flex cursor-pointer"
            matTooltip="{{
              'ImportsExportsModule.ImportsExportsListComponent.printDeliveryReceipts' | translate
            }}"
          >
            <mat-icon>file_copy</mat-icon>
          </span>
        </div>
      </ng-container>

      <div
        *ngxPermissionsOnly="[PermissionsObj.ExportRequestsToExcel]"
        class="btn-card | export-card f"
        (click)="onExportExcel()"
        matTooltip="استخراج البيانات"
      >
        <img width="26" height="26" src="assets/icons/excel.svg" alt="ms-excel" />
      </div>

      <!-- <div *ngxPermissionsOnly="[PermissionsObj.CreateRequest]" class="btn-card" (click)="onNavToAddingImport()">
        <img src="assets/icons/green-envelope.png" />
        <span> {{ "shared.addImport" | translate }}</span>
      </div>

      <div *ngxPermissionsOnly="[PermissionsObj.CreateRequest]" class="btn-card" (click)="onNavToAddingExport()">
        <img src="assets/icons/red-envelope.png" />
        <span> {{ "shared.addExport" | translate }}</span>
      </div> -->
    </div>
  </div>
  <!-- [selectedPriority]="filtersData.priority" -->
  <div class="filters-container">
    <mat-tab-group
      animationDuration="400ms"
      class="autoWidth"
      (selectedTabChange)="onTabClicked($event)"
      [selectedIndex]="activeTab"
      mat-align-tabs="center"
    >
      <mat-tab
        label="{{ 'ImportsExportsModule.ImportsExportsListComponent.import' | translate }}"
      ></mat-tab>
      <mat-tab
        label=" {{ 'ImportsExportsModule.ImportsExportsListComponent.export' | translate }}"
      ></mat-tab>
    </mat-tab-group>
  </div>
  <div class="content_wrapper mt-3">
    <div class="mb-3">
      <app-filters
        #filtersComponent
        [hasFiltersApplied]="isTableFiltered"
        [prioritiesList]="prioritiesList"
        (openDialog)="onOpenSearch($event)"
        (filtersChange)="onFiltersChange($event)"
        (resetFilters)="onResetFilters()"
      ></app-filters>
    </div>
    <ng-container *ngIf="activeTab == 0">
      <app-imports-list
        (setSelectedPriority)="setSelectedPriority($event)"
        [prioritiesList]="prioritiesList"
        (filterChanged)="onTableFiltersChange($event)"
        #ImportsListComponent
      ></app-imports-list>
    </ng-container>
    <ng-container *ngIf="activeTab == 1">
      <app-exports-list
        (setSelectedPriority)="setSelectedPriority($event)"
        [prioritiesList]="prioritiesList"
        (filterChanged)="onTableFiltersChange($event)"
        #ExportListComponent
      ></app-exports-list>
    </ng-container>
  </div>
</section>
