@import 'src/assets/design-system/colors';
@import '../../../../assets/scss/variables.scss';

.item-inline-calendar {
  .ng-select .ng-clear-wrapper {
    display: none;
  }
  ::ng-deep .ng-select .ng-clear-wrapper {
    display: none;
  }
  .ngb-dp-month {
    width: 100%;
  }
  // .ngb-dp-month:first-child .ngb-dp-week {
  //   padding: 0;
  // }
  .ngb-dp-weekdays {
    background: #fff;
    border-radius: 0.375rem;
  }
  .mat-mdc-dialog-surface {
    padding-right: 25px;
  }
  .ngb-dp-header {
    background-color: transparent;
  }
  .ngb-dp-month-name {
    font-size: 14px !important;
    font-weight: 400;
  }

  .ngb-dp-weekday {
    color: #000000 !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  ngb-datepicker-navigation {
    .ngb-dp-arrow {
      display: none;
    }
    ngb-datepicker-navigation-select {
      display: none;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 0;
      select {
        width: 75px;
        flex: none;
        border: none;
        font-size: 16px;
        font-weight: 700;
        /* Style the options dropdown when opened */
        select option {
          padding: 0.75rem;
          background-color: #fff;
          color: #333;
          border-bottom: 1px solid #f0f0f0;
        }

        select option:hover {
          background-color: $primary-50;
          color: $primary-500;
        }

        select option:checked {
          background-color: $primary-500;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range,
  .custom-day:hover {
    color: $primary-500 !important;
    border-radius: 3rem;
    border: 1px solid $primary-500;
    background: $primary-50;
    padding: 0.6875rem 1rem;
  }
  // .custom-day.today:not(.selected) {
  //   color: $primary-500 !important;
  //   border-radius: 3rem;
  //   border: 1px solid $primary-500;
  //   background: $primary-50;
  //   padding: 0.6875rem 1rem;
  // }

  .custom-day.selected {
    color: $primary-500 !important;
    border-radius: 3rem;
    border: 1px solid $primary-500;
    background: $primary-50;
    padding: 0.6875rem 1rem;
  }

  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  ngb-datepicker {
    border: 0 !important;
    width: 100%;
  }
  .ngb-dp-week {
    justify-content: space-between;
    border-radius: 12px;
    border-bottom: 0;
    //gap: 12px;
  }
  .ngb-dp-day {
    // width: 62px !important;
    // height: 40px !important;

    .custom-day {
      font-size: 14px;
      font-weight: 400;
      color: $gray-700;

      width: 2.5rem;
      height: 2.5rem;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    .outside-month {
      color: $gray-400;
    }
  }

  .ngb-dp-day > div {
    width: 45px !important;
    height: 45px !important;
    line-height: 45px !important;
  }

  .ngb-dp-weekday {
    width: 62px !important;
    height: 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
