.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

form > div {
  .input-date {
    @media (max-width: 1332px) {
      font-size: 14px;
    }
  }
}

/* .input-group-height {
  @media (min-width: 1332px) {
    & {
      display: flex;
      align-items: flex-end;
    }
  }
} */
input {
  @media (max-width: 1332px) {
    & {
      padding: 1px;
      height: 42px;
    }
  }
}

button {
  @media (max-width: 1332px) {
    & {
      width: fit-content !important;
      padding: 0 1px !important;
    }
  }
}
