@import "../../../../assets/scss/variables.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.verify-otp-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #faf4f4;

  .card {
    margin: 20px 0;
    width: 90%;
    max-width: 450px;
    background-color: #faf4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    @media (max-width: 40em) {
      & {
        padding: 0;
      }
    }

    .card-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 5px;
      margin-bottom: 20px;

      .phone-img {
        max-width: 128px;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 1em;
      }

      h1 {
        line-height: 38px;
        margin-bottom: 0.2em;
      }

      @media (max-width: 40em) {
        .phone-img {
          max-width: 85px;
        }

        h1 {
          font-size: $fs-600;
        }
      }

      p {
        line-height: 38px;
      }
    }

    .card-body {
      width: 100%;
      margin-top: 10px;
    }

    form {
      width: 100%;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: 25px;

      .input-wrapper {
        direction: ltr;
      }
    }

    button {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .login-btn:hover,
    .login-btn:focus-visible {
      background-color: #283d3f !important;
    }

    .login-btn[disabled] {
      opacity: 0.6;
      cursor: unset;
    }

    .resend-btn {
      border: 1px solid $primary-color;
    }
  }
}

/******* Failed login*********/
.msg-container {
  margin-top: 10px;
  p {
    line-height: 28px !important;
  }
}
.try-btn {
  margin-top: 10px !important;
}

button:disabled {
  cursor: auto;
}

.phone-number {
  display: inline-block;
}
