@use 'src/assets/design-system/colors' as *;
@import '../../../../../assets/scss/variables.scss';

/* home-news.component.scss */
.home-news {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h2 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .cards {
    gap: 0.75rem;
    max-height: 72vh;;

    .cards-container {
      max-height: 72vh;;
      overflow-y: auto;
      .small-cards {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        gap: 12px;
        flex: 1;
        justify-content: space-between;
        .news-card.small {
          display: flex;
          background: #fff;
          border-radius: 8px;
          overflow: hidden;
          text-decoration: none;
          color: inherit;
          padding: 8px;
          background: #f5f5f5;
          border-radius: 0.5rem;

          .thumb {
            min-width: 147px;
            width: 9.3406rem;
            height: 7.3073rem;
            object-fit: cover;
            border-radius: 6px;
          }

          .text {
            padding: 8px;
            flex: 1;

            .title {
              font-size: 0.9rem;
              margin: 0 0 4px;
              line-height: 1.2;
            }

            .meta {
              display: flex;
              align-items: center;
              font-size: 0.75rem;
              color: #666;

              .icon-calendar {
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
    .large-card {
      flex: 1;
      .news-card.large {
        // display: flex;
        background: #fff;
        overflow: hidden;
        text-decoration: none;
        flex-wrap: wrap;
        color: inherit;
        height: 72Vh;
        overflow-y: auto;
        padding: 10px;
        background: #f5f5f5;
        border-radius: 0.5rem;

        .content {
          padding: 16px;
          flex: 1;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .title {
            font-size: 1rem !important;
            //margin: 0 0 8px;
            font-weight: bold;
          }

          .meta {
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            color: #666;
            margin-bottom: 12px;

            .icon-calendar {
              margin-left: 4px;
            }
          }

          .excerpt {
            //flex: 1;
            font-size: 14px;
            color: $color-primary-surface-more-darker;
            //color: #444;
            margin-bottom: 12px;
          }

          .read-more {
            align-self: flex-start;
          }
        }

        .thumb-large {
          object-fit: cover;
          border-radius: 6px;
          width: 100%;
          margin: 0;
          height: 275px;
          flex-direction: row;
          justify-content: center;
          display: flex;
        }
      }
    }
  }
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .home-news {
    .cards {
      flex-direction: column;

      .large-card,
      .small-cards .news-card.small {
        width: 100%;
      }
    }
  }
}
.date {
  color: #043049;
}
.body {
  line-height: normal !important;
}
.title {
  font-weight: bolder !important;
}
.date {
  width: 100%;
  margin-bottom: 10x;
}

.read-more {
  font-size: 0.9rem;
  background-color: #043049;
  display: inline-block;
  align-items: center;
  padding: 5px 25px;
  /* gap: 10px; */
  border-radius: 8px;
  margin-top: 10px;
  color: #fff;
  width: 150px;
  text-align: center;
}
.news-card img {
  margin: 0;
}
.home-section {
  border: 0;
}
