.close-icon-container {
  border-bottom: 1px solid #f1f1f1;
  #close-icon {
    padding: 0;
    z-index: 100;
  }
}

.modal-header {
  position: relative;
  top: -2em;
  display: flex;
  flex-direction: row-reverse;

  h2 {
    flex-grow: 1;
    text-align: center;
  }
}

div[mat-dialog-contents],
div[mat-dialog-title] {
  padding: 0 24px 9px !important;
}

div[mat-dialog-contents] {
  position: relative;
  bottom: 2.8em;
  min-height: 300px;
  max-height: 500px;
  overflow: scroll;
}

.label-container {
  margin-bottom: 12px;
}

.no-rows-warning-msg {
  margin-top: 1em !important;
}

/********************************************Approvals section*********************************************************/
.approvals-section {
  padding: 1em;
  background-color: #fff;
  border-radius: 14px;
}

.single-approval-card {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 11px;
}

.bg-sign {
  background-color: #e9f7ef;
}

.bg-conservatism {
  background-color: #fff4e6;
}

.bg-opinion-refrain {
  background-color: #fce7e5;
}

.bg-no-action {
  background-color: #f0f2f5;
}

.member-name {
  font-weight: bold;
  color: #111827;
}

.action-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1231px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
  }

  .comment-container,
  .edit-through-phone-container {
    background: #fff;
    display: flex;
    gap: 2em;
    align-items: center;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
  }
}
