a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.animate {
  transition: transform 250ms ease-in-out;
}

.animate:hover,
.animate:focus-visible {
  transform: scale(1.1);
}

section {
  .card {
    margin-bottom: 1.5em;
    //min-width: 275px;

    .card-content {
      height: 100%;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 8px;
      gap: 5px;

      .nav-item {
        padding: 5px;

        .icon {
          object-fit: cover;
          height: 48px;
          width: 48px;
          object-fit: cover;
        }
      }

      p {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
