@import "../../../../../assets/scss/variables.scss";

.mb {
  margin-bottom: 1em;
}

/**************** filters ******************/

.filters-container {
  background: #fff;
  padding: 0.6em;
  border-radius: 12px;
}

/**************** Table ********************/
::ng-deep app-delivery-receipts-list .mat-mdc-table {
  thead {
    background-color: #20545f !important;
  }
}

table {
  margin-top: -10px;
  width: 100%;
  tr {
    border-bottom: 1px solid #c4d7ed;
    font-size: 16px;
  }

  .mat-column-autoNumber {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 0 !important;
  }

  .mat-column-actions {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 0 !important;
    padding: 14px 14px 14px 14px !important;
  }
}

tr.example-detail-row {
  height: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 991px) {
  tr.example-detail-row {
    height: 0;
    display: contents;
    opacity: 1;
    visibility: visible;
  }
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flow-root;
}

ul.detail-element {
  display: inline-block;
  width: 100%;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 0 5px;

    p {
      font-size: 13px;
      color: #808080;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.example-element-description {
  padding: 12px;
}

::ng-deep {
  .mat-paginator {
    background: none;
  }
  @media only screen and (max-width: 360px) {
    .mat-button-wrapper {
      font-size: 13px;
    }
  }
  .mat-paginator-container {
    height: 60px;
    @media only screen and (max-width: 1200px) {
      justify-content: center !important;
    }
  }
}

::ng-deep .mat-paginator-page-size.ng-star-inserted {
  display: none;
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
  background: rgb(0 0 0 / 43%);
}

::ng-deep .cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1 !important;
}
::ng-deep .mat-paginator-page-size.ng-star-inserted {
  display: none;
}

.progress-bar {
  display: block;
  margin-bottom: 5px;
  width: 90%;
}

@media (max-width: 576px) {
  .progress-bar {
    width: 100%;
  }
}

/** search */

.search-container {
  height: 100%;
  border-radius: 2px;
  border: 2px solid #dee1e7;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 100% !important;
  }

  input {
    opacity: 0.8;
    border: 0;
    outline: none;
    background: none;
    width: 100%;
    padding: 0 7px;
  }

  img {
    padding: 0 5px;
  }
}

.export-container,
.import-container {
  height: 31px;
  width: auto;
  min-width: 4rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  img {
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
}

.export-container {
  background-color: #ffedd5;
  span {
    color: #ea580c;
  }
}

.import-container {
  background-color: #dcfce7;
  span {
    color: #16a34a;
  }
}

.options-container {
  display: flex;
  gap: 1.2em;
  align-items: baseline;
}

.options-container {
  .edit-container {
    gap: 5px;
    height: 39px;
    background: #f2f4f5;
    padding: 6px;
    border-radius: 18px;
    border: 1px solid #f2f4f5;
  }

  .edit-container {
    width: auto;
  }

  .delete-container {
    width: 41px;
    background: #f2f4f5;
    justify-content: center;
    border-radius: 50%;

    img {
      width: 35px; //16px
      height: 35px;
      object-fit: cover;
    }

    img:hover {
      filter: invert(12%) sepia(82%) saturate(7500%) hue-rotate(8deg)
        brightness(106%) contrast(119%);
    }
  }
}

.receipt-section {
  width: 75%;
  margin: auto;
  background: #fff;
  padding: 6px;
}

.buttons-card {
  display: flex;
  background: #fff;
  align-items: center;
  border-radius: 10px;

  .item {
    display: flex;
    cursor: pointer;
    padding: 0.7em 0.9em;
    border: 1px solid #f0f2f5;
  }
}
::ng-deep .mat-sort-header-content{
  padding-top: 10px !important;
}
::ng-deep .mat-mdc-table {
    border-collapse: collapse !important;
   
}

th{
  border-bottom: 1px solid #ead6db !important;
    border-left: 1px solid #ead6db !important;
    padding: 0.375rem  !important;
    cursor: text !important;
    max-width: 15.5rem !important;
    white-space: normal !important;
        background: #f5ebed !important;
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    color: #7f404f !important;
    padding: 0 !important;
}
td {
    border-bottom: 1px solid #ead6db !important;
    border-left: 1px solid #ead6db !important;
    padding: 0.375rem !important;
    cursor: text !important;
    max-width: 15.5rem !important;
    white-space: normal !important;
}
.table-responsive{
         background: #fff;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #ead6db;
}
