::ng-deep {
  // #glb-loader {
  //   display: none;
  // }

  #glb-loader.loaderShow {
    display: block;
    height: 100vh;
    background-image: url("../assets/images/loading.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5000;
    position: relative;
  }

  #glb-loader {
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
  width: 100%;
}

.text-control-container {
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
}
