@import '../../../../../assets/scss/variables.scss';

.div-card {
  border-radius: 0.75rem;
  background: #f5f5f5;
  padding: 0.75rem;
}

form {
  .rest-fields-container {
    font-size: 14px;

    @media (min-width: 1332px) {
      & {
        font-size: 1rem;
      }
    }

    .mat-form-field-div {
      padding: 0.5em;
      flex-wrap: wrap;
      @media (min-width: 1332px) {
        & {
          padding: 0.7em;
        }
      }
    }
  }
}

.btn-container {
  display: flex;
  gap: 2em;
  margin-top: 2em;
  justify-content: center;
}

button {
  height: 40px !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  padding: 0.7rem 1rem !important;
}

.cancel-btn {
  border: 2px solid #043049 !important;
  color: #043049 !important;
  background-color: #fff !important;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem !important;
}

.save-btn:not([disabled]) {
  background-color: #043049 !important;
  color: #fff;
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .mb {
    margin-bottom: 0;
  }

  .mat-form-field-div {
    margin-bottom: 10px;
  }

  .label-container {
    margin-bottom: 15px;
  }
}

.label,
.info-data {
  margin-bottom: 0;
}

.status-content {
  background-color: #f0f2f5;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 2.7rem;
  padding: 10px;

  @media (min-width: 1332px) {
    height: 3.4rem;
  }
}

@media (max-width: 576px) {
  .mb {
    margin-bottom: 0;
  }
}

/* * {
  border: 1px solid red;
}
 */

.save-btn-container {
  margin-top: 2em;
  padding-bottom: 1em;
  gap: 1em;
  margin-bottom: 10px;
  .save-btn,
  .back-btn {
    padding: 1.5em;
  }
  .save-btn:disabled {
    background: #addefa !important;
    border: 1px solid #addefa;
    color: #fff !important ;
    border-radius: 0.5rem;
    cursor: not-allowed;
  }

  .back-btn {
    background-color: #ebf5f5;
    color: #3db5b5;
  }
}
label {
  color: #0f0f0f;
  font-size: 16px !important;
}
h4 {
  font-size: 16px !important;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
}
mat-form-field {
  background-color: #fff !important;
}
