section {
  background: #f9f3f3;
}

@media (max-width: 1332px) {
  .width-100 {
    width: 100%;
  }
  .padding {
    padding: 17px;
  }
}

h2 {
  margin-bottom: 10px;
}

.add-btn {
  img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
}

.add-btn {
  background-color: #362f30;
}

@media (max-width: 576px) {
  .add-btn {
    max-height: 46px;
  }
  .mt-s {
    margin-top: 1em;
  }
  .heading {
    margin-bottom: 1em;
  }
}

.icons-container {
  width: 120px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
  padding: 0.6em;
  border-radius: 8px;
}

.active-background {
  background-color: #ebf5f5;
}

.view-icon {
  cursor: pointer;
  object-fit: cover;
  padding: 6px;
  min-width: 30px;
  min-height: 30px;
  @media (max-width: 576px) {
    & {
      width: 40px;
    }
  }
}

.buttons-container {
  display: flex;
  gap: 5px;

  button {
    cursor: pointer;
    border: navajowhite;
    border-radius: 6px;
  }
}

/******************* Grid card styles ***********************/

.grid-item-container {
  background-color: #fff;
  margin-bottom: 1.5em;
  width: 48%;
  padding: 1.3em;
  border-radius: 11px;

  @media (max-width: 576px) {
    & {
      width: 100%;
    }
  }

  .icon-div {
    width: 5%;

    @media (max-width: 1444px) {
      & {
        width: 8%;
      }
    }

    img {
      max-width: 24px;
      object-fit: cover;
    }
  }
}

.flex-laptop-wrap {
  @media (max-width: 1444px) {
    & {
      flex-wrap: wrap;
    }
  }
}

/**************** Table ********************/

::ng-deep app-documents-list .mat-mdc-table {
  thead {
    background-color: #20545f !important;
  }
}

table {
  margin-top: -10px;
  width: 100%;

  tr {
    border-bottom: 1px solid #c4d7ed;
    font-size: 16px;
  }

  .bg-hover:hover {
    .mat-mdc-cell {
      background-color: #f1e8e8 !important;
    }
  }

  .pointer {
    .mat-column-icon,
    .mat-column-name,
    .mat-column-timeCreated,
    .mat-column-timeLastModified,
    .mat-column-authorName,
    .mat-column-subDirectoryCount {
      cursor: pointer;
    }
  }

  td.mat-column-icon {
    img {
      width: 25px;
      height: 25px;
      object-fit: cover;
    }

    @media (max-width: 1444px) {
      & {
        width: 5%;
      }
    }
  }

  td.mat-column-name {
    word-wrap: break-word;
    word-break: break-word;
    font-weight: bold;
  }

  td.mat-column-timeCreated,
  td.mat-column-timeLastModified,
  td.mat-column-authorName,
  td.mat-column-subDirectoryCount {
    color: #8c949c;
  }

  td.mat-column-actions {
    padding-left: 24px !important;

    @media (max-width: 1444px) {
      & {
        width: 12%;
      }
    }
  }

  tr.example-detail-row {
    height: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  @media only screen and (max-width: 991px) {
    tr.example-detail-row {
      height: 0;
      display: contents;
      opacity: 1;
      visibility: visible;
    }
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flow-root;
  }

  ul.detail-element {
    display: inline-block;
    width: 100%;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin: 15px 0;
      padding: 0 5px;

      p {
        font-size: 13px;
        color: #808080;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 12px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  ::ng-deep {
    .mat-paginator {
      background: none;
    }
    @media only screen and (max-width: 360px) {
      .mat-button-wrapper {
        font-size: 13px;
      }
    }
    .mat-paginator-container {
      height: 60px;
      @media only screen and (max-width: 1200px) {
        justify-content: center !important;
      }
    }
  }

  ::ng-deep .mat-paginator-page-size.ng-star-inserted {
    display: none;
  }

  .table-actions {
    margin: 0;
    padding: 0;

    height: 45px;
    overflow: hidden;
    background: transparent; //#f0f5fa;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #c4d7ed;

    > div {
      padding: 0;
      height: 100%;
      position: relative;
    }

    .search-container {
      width: 400px;
      font-size: 15px;
      height: 100%;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      padding: 0 10px;
      @media screen and (max-width: 767px) {
        width: 100% !important;
      }

      input {
        opacity: 0.8;
      }
    }

    ::ng-deep {
      .mat-paginator {
        background: none;
      }

      .mat-paginator-container {
        height: 60px;
      }
    }
  }

  @media (max-width: 576px) {
    .table-actions {
      display: none;
    }
  }

  .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    background: rgb(0 0 0 / 43%);
  }

  ::ng-deep .cdk-overlay-transparent-backdrop,
  .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1 !important;
  }
  ::ng-deep .mat-paginator-page-size.ng-star-inserted {
    display: none;
  }

  .options-btn {
    background-color: #362f30;
    height: 40px;
  }
}

@media (max-width: 992px) {
  .top-paginator {
    margin-top: 1em;
  }
}
