::ng-deep .filters-dialog-panel {
  margin-top: 183px !important;
}

svg[width='26'] {
  position: fixed;
  top: 175px;
  left: 54.1%;
  transform: translateX(-50%);
  z-index: 10000;
  pointer-events: none;
}

::ng-deep .filters-dialog-panel .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0.75rem;
  background: #fff;
  padding: 1.5rem;
  gap: 1rem;
  min-height: auto;
  max-width: 23.625rem;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.close-icon {
  cursor: pointer;
  color: #000;
  font-weight: bold;
}
