@use 'src/assets/design-system/colors' as *;

.multi-custom {
  // display: inline !important; // Removed to allow width: 100% to work
  .ng-select-container {
    height: auto !important;
  }
}
.ng-select .ng-select-container {
  display: flex;

  height: 3rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid #d9d9d9;
  background: #fff;
}
.ng-dropdown-panel .ng-dropdown-panel-items {
  // display: flex;
  padding: 0.875rem 0.5rem 1.1875rem 1.0625rem;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(62, 52, 69, 0.04);
  border-color: none;
}
.ng-dropdown-panel.ng-select-bottom {
  border: none;
}
.mat-mdc-radio-button .mdc-radio {
  padding: 0;
}
.ng-dropdown-panel .ng-dropdown-panel-items {
  padding: 0;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 0 1rem;
}
.option-custom {
  padding: 0.5rem 0;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:not(:last-child) .option-custom {
  border-bottom: 1px solid $gray-100;
}
// ng-select {
//   max-height: 3rem;
// }
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  border-radius: 0.375rem;
  background: $gray-100;
  color: $gray-700;
  gap: 0.25rem;
  padding: 0.125rem 0.25rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.ng-select-container .ng-value-label {
  font-size: 0.75rem;
  padding: 0 !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  padding: 0px;
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none"><rect width="8" height="8" rx="2" fill="%235E5E5E"/><path d="M4.00001 3.99992L2.33334 2.33325M4.00001 3.99992L5.66668 5.66659M4.00001 3.99992L5.66668 2.33325M4.00001 3.99992L2.33334 5.66659" stroke="%23F6F3EF" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    no-repeat center;
  background-size: contain;
  font-size: 0;
  border-left: none !important;
}

.selected-count {
  color: $secondary-500;
  padding: 0 0.5rem;
}
.ng-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ng-select .ng-arrow-wrapper .ng-arrow {
  background: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 8L10 11L13 8" stroke="%23666" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>')
    no-repeat center;
  background-size: contain;
  width: 1.25rem !important;
  height: 1.25rem !important;
  border: 0 !important;
  transition: transform 0.3s ease;
}
.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  transform: rotate(180deg);
}
