@use 'src/assets/design-system/colors' as *;
#user-selection-container {
  display: flex;
  gap: 1em;

  mat-radio-group {
    display: flex;
    gap: 2em;
  }

  @media (max-width: 576px) {
    & {
      gap: 0;
    }
  }
}
/*******************Angular grid layout*********************************/
:host {
  /*   display: block;
  width: 100%;
  padding: 48px 32px;
  box-sizing: border-box; */

  .playground-container {
    width: 100%;
  }

  .controls-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;

    & > * {
      margin: 8px 24px 8px 0;
    }
  }

  ktd-grid {
    display: flex;
    flex-flow: column wrap-reverse;
  }

  .grid-container {
    border-radius: 0.5rem;
    background: $secondary-50;
    padding: 1rem 0.75rem;
  }

  ktd-grid-item {
    color: #121212;
    border-radius: 0.375rem;
    padding: 0 4px;
  }

  ktd-grid {
    transition: height 500ms ease;
    .custom-placeholder {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: medium;
      background-color: transparent;
    }
  }

  .grid-item-content {
    width: 100%;
    height: fit-content;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 0.75rem;

    border-radius: 0.375rem;
    background: #fff;
  }

  // Add custom drag mouse styles
  ktd-grid-item {
    cursor: grab;

    &.ktd-grid-item-dragging {
      cursor: grabbing;

      .grid-item-content {
        background: #fff !important; // Light blue background when dragging
        border: none !important; // Blue border when dragging
        box-shadow: none !important; // Shadow when dragging
        opacity: 1;
        background-color: #fff !important;
      }
    }
  }
}
