<div class="grid">
  <div class="row">
    <div class="col-12">
      <div class="info">
        <div class="row">
          <div class="col-12">
            <span class="body">
              {{ 'TransactionsModule.TransactionsListComponent.transactionSubject' | translate }}
              :
            </span>

            <span class="body-bold">
              {{ requestContainerDetails?.title || '-' }}
            </span>
          </div>
        </div>
        <hr class="gold-line" />
        <div class="row">
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'shared.transactionNum' | translate }}
              :
            </span>

            <span class="body-bold">
              {{ requestContainerDetails?.transactionNumber || '-' }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'shared.priority' | translate }}
              :
            </span>

            <span
              class="body-bold"
              [ngStyle]="{
                color: requestContainerDetails?.duration?.color
              }"
            >
              {{
                requestContainerDetails?.priority
                  ? lang === 'ar'
                    ? requestContainerDetails.priority.title
                    : requestContainerDetails.priority.titleEn
                  : '-'
              }}
            </span>
          </div>
          <div class="col-12 col-md-4">
            <span class="body">
              {{ 'shared.benefitType' | translate }}
              :
            </span>

            <span class="body-bold">
              {{
                requestContainerDetails?.benefitType
                  ? lang === 'ar'
                    ? requestContainerDetails.benefitType.title
                    : requestContainerDetails.benefitType.titleEn
                  : '-'
              }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
