@use 'src/assets/design-system/colors' as *;
.upload-container {
  text-align: center;
  flex-basis: 50%;
  display: flex;
  border-radius: 0.75rem;
  background: $secondary-50;
  margin-left: 0.5rem;
}
.editor-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;

  ::ng-deep {
    .tox-tinymce {
      height: 100%;
      border-radius: 0.75rem;
    }

    .tox-editor-container {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
    }

    .tox-editor-header {
      flex-shrink: 0;
    }

    .tox-edit-area {
      flex-grow: 1;
      overflow: auto;
    }
  }
}
.pdf-container {
  border-radius: 12px;
  background: #efefef;
  margin-left: 0.5rem;
  height: 90vh;
  flex-basis: 50%;
  padding: 0.5rem;
}
.text-container {
  width: 43.625rem;
  height: 90vh;
  flex-basis: 50%;
  position: relative;
  svg {
    position: absolute;
    top: 45%;
    left: 45%;
  }
}
textarea {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background: $gray-50;
  border: none;
  padding: 0.75rem;
}
textarea:focus-visible {
  outline: none;
}
.upload-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  p {
    color: #545961;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

.icon {
  display: block;
  margin: auto;
  margin-bottom: 3em;
}

.upload-button {
  color: #fff !important;
  background-color: #3db5b5;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #b8d5d3;
}
:host ::ng-deep .Section-header {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.5rem 0;
}

/* Apply styles in editor */
::ng-deep {
  .Section-header {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1rem 0;
  }

  .Text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.5rem 0;
  }
}
