@use 'src/assets/design-system/colors' as *;
.policy-container {
  border-radius: 0.75rem;
  background: $gray-50;
  padding: 0.75rem;

  &:last-child {
    margin-bottom: 0;
  }
  .selectedCategoryCard {
    border-radius: 6px;
    background: #fff;
    padding: 0.375rem;
    img {
      width: 100%;
      height: 8rem;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }
}
