@use "src/assets/design-system/colors" as *;
::ng-deep .custom-panel {
  border: 1px solid $green-500;
  background: $green-50 !important;
}
.green-line {
  color: $green-500;
}
.single-approval-card {
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.75rem;
  gap: 0.375rem;
}
.approved {
  color: $green-500;
}
.rejected {
  color: $orange-500;
}
.noAnswer {
  color: $gray-500;
}
.comment {
  color: $secondary-500;
}
mat-accordion mat-expansion-panel:first-child {
  margin-top: 0 !important;
}
