<ng-container *ngIf="!item.permission; else withPermission">
  <!-- No permission set - show to everyone -->
  <li role="menuitem" class="li-item" [ngStyle]="{ 'margin-bottom': item?.marginBottom }">
    <a
      [routerLink]="item.route ? item.route : null"
      #link="routerLinkActive"
      routerLinkActive="active"
      class="d-flex w-100"
      [queryParamsHandling]="queryParamsHandling"
      (click)="item.labelKey === 'shared.signOut' ? logout() : openMenuFn(item.hasSubMenu || false)"
    >
      <ng-container *ngIf="item.countProp; else noCount">
        <div class="number-container d-flex align-items-center">
          <svg
            [attr.width]="item.width"
            [attr.height]="item.height"
            [attr.aria-label]="item.labelKey | translate"
            [matTooltip]="item.labelKey | translate"
          >
            <use
              [attr.xlink:href]="
                'assets/icons/sprite.svg#' +
                (link.isActive ? item.iconFill || item.icon : item.icon)
              "
            ></use>
          </svg>
        </div>
      </ng-container>
      <ng-template #noCount>
        <svg
          [attr.width]="item.width"
          [attr.height]="item.height"
          [attr.aria-label]="item.labelKey | translate"
          [matTooltip]="item.labelKey | translate"
        >
          <use
            [attr.xlink:href]="
              'assets/icons/sprite.svg#' + (link.isActive ? item.iconFill || item.icon : item.icon)
            "
          ></use>
        </svg>
      </ng-template>
      <p class="body mx-3 mb-0" [ngClass]="{ 'body-bold': link.isActive }">
        {{ item.labelKey | translate }}
      </p>
      <span [ngClass]="isCollapsed ? 'number' : 'counter'" *ngIf="countValue > 0">
        {{ countValue }}
      </span>
      <svg
        *ngIf="item.hasSubMenu && !isCollapsed"
        [attr.width]="item.width"
        [attr.height]="item.height"
        [attr.aria-label]="item.labelKey | translate"
        [ngClass]="openSub ? 'rotate-90' : ''"
        class="me-auto"
      >
        <use
          [attr.xlink:href]="
            'assets/icons/sprite.svg#' + (isLightTheme ? 'arrow-left-black' : 'arrow-left')
          "
        ></use>
      </svg>
    </a>
  </li>
  <ng-container *ngIf="!isCollapsed">
    <div class="subMenu" *ngIf="item.subRoutes?.length && openSub">
      <a
        *ngFor="let sub of item.subRoutes"
        [routerLink]="sub.route"
        [class.activeCustom]="isActive(sub.route)"
      >
        <svg class="subSvg" width="1rem" height="1rem">
          <use [attr.xlink:href]="'assets/icons/sprite.svg#menu-arrow-left'"></use>
        </svg>
        <p>{{ sub.labelKey | translate }}</p>
      </a>
    </div>
  </ng-container>
</ng-container>

<ng-template #withPermission>
  <!-- Has permission - check if user has it -->
  <ng-container *ngxPermissionsOnly="[PermissionsObj[item.permission!]]; else hidden">
    <li role="menuitem" class="li-item" [ngStyle]="{ 'margin-bottom': item?.marginBottom }">
      <a
        [routerLink]="item.route ? item.route : null"
        #link="routerLinkActive"
        routerLinkActive="active"
        class="d-flex w-100"
        [queryParamsHandling]="queryParamsHandling"
        (click)="
          item.labelKey === 'shared.signOut' ? logout() :
          openMenuFn(item.hasSubMenu || false)
        "
      >
        <ng-container *ngIf="item.countProp; else noCount2">
          <div class="number-container d-flex align-items-center">
            <svg
              [attr.width]="item.width"
              [attr.height]="item.height"
              [attr.aria-label]="item.labelKey | translate"
              [matTooltip]="item.labelKey | translate"
            >
              <use
                [attr.xlink:href]="
                  'assets/icons/sprite.svg#' +
                  (link.isActive ? item.iconFill || item.icon : item.icon)
                "
              ></use>
            </svg>
          </div>
        </ng-container>
        <ng-template #noCount2>
          <svg
            [attr.width]="item.width"
            [attr.height]="item.height"
            [attr.aria-label]="item.labelKey | translate"
            [matTooltip]="item.labelKey | translate"
          >
            <use
              [attr.xlink:href]="
                'assets/icons/sprite.svg#' +
                (link.isActive ? item.iconFill || item.icon : item.icon)
              "
            ></use>
          </svg>
        </ng-template>
        <p class="body mx-3 mb-0" [ngClass]="{ 'body-bold': link.isActive }">
          {{ item.labelKey | translate }}
        </p>
        <span [ngClass]="isCollapsed ? 'number' : 'counter'" *ngIf="countValue > 0">
          {{ countValue }}
        </span>
        <svg
          *ngIf="item.hasSubMenu && !isCollapsed"
          [attr.width]="item.width"
          [attr.height]="item.height"
          [attr.aria-label]="item.labelKey | translate"
          [ngClass]="openSub ? 'rotate-90' : ''"
          class="me-auto"
        >
          <use
            [attr.xlink:href]="
              'assets/icons/sprite.svg#' + (isLightTheme ? 'arrow-left-black' : 'arrow-left')
            "
          ></use>
        </svg>
      </a>
    </li>
    <ng-container *ngIf="!isCollapsed">
      <div class="subMenu" *ngIf="item.subRoutes?.length && openSub">
        <a
          *ngFor="let sub of item.subRoutes"
          [routerLink]="sub.route" class="px-0 pe-1 py-2"
          [class.activeCustom]="isChildActive(sub.route)"
        >
          <ng-container *ngIf="!isCollapsed">
            <svg class="subSvg" width="1rem" height="1rem">
              <use [attr.xlink:href]="'assets/icons/sprite.svg#menu-arrow-left'"></use>
            </svg>
            <p [ngClass]="{'pe-3': !isChildActive(sub.route)} ">{{ sub.labelKey | translate }}</p>
          </ng-container>
        </a>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #hidden></ng-template>
</ng-template>
