<div class="grid dialog-box">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <span class="body-bold">{{ 'attachment.title' | translate }}</span>
        <svg
          width="1.25rem"
          height="1.25rem"
          class="cursor-pointer"
          (click)="this.dialogRef.close()"
        >
          <use [attr.xlink:href]="'assets/icons/sprite.svg#circle-close'"></use>
        </svg>
      </div>
      <p class="body text-small gray-700 mb-2">
        {{ 'attachment.desc' | translate }}
      </p>
    </div>
    <!-- [customFileTypes]="['image/png', 'image/jpeg', 'application/pdf']" -->
    <app-upload-attachment
      #uploadAttachment
      [multiple]="true"
      (fileUploaded)="log($event)"
      (uploadClicked)="onUploadAndClose()"
    ></app-upload-attachment>
  </div>
</div>
