@use 'src/assets/design-system/colors' as *;

.importCustomTabs ::ng-deep mat-tab-header {
  width: 45%;
}

.card {
  border-radius: 0.75rem;
  border: 1px solid $gray-100;
  background: #fff;
  padding: 1rem;
}
.attach-container {
  border-radius: 0.75rem;
  border: 1px solid $gray-100;
  background: $gray-50;
  padding: 0.75rem;
  width: 100%;
  margin: auto;
}
// .attach-container ::ng-deep .mat-mdc-text-field-wrapper {
//   border-radius: 0.5rem;
//   border: 1px solid #addefa;
//   background: #fff;
// }
// .attach-container ::ng-deep .mat-mdc-form-field-infix {
//   min-height: auto;
// }
// .attach-container
//   ::ng-deep
//   .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
//   .mat-mdc-form-field-infix {
//   padding-top: 12px;
//   padding-bottom: 12px;
// }

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}
