@use 'src/assets/design-system/colors' as *;
.info {
  padding: 1.25rem 1.5rem;
  gap: 0.75rem;
  border-radius: 0.75rem;
  background: $secondary-50;
}
.gold-line {
  opacity: 0.5;
  color: $secondary-300;
  margin: 0.75rem 0;
  height: 0.0625rem;
}

.gray-700 {
  color: $gray-700;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
