// .pdf-viewer-wrapper {
//   // padding: 1rem;
//   // border-radius: 8px;
//   // background-color: #f5f5f5;
// }

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
}

.spinner {
  text-align: center;
  margin: 2rem 0;
  font-style: italic;
  color: #555;
}
