<section class="">
  <div class="row justify-content-between align-items-center | mb">
    <div class="col-12 col-sm-6">
      <h1 class="fs-600 text-gray-900 fw-bold">
        <span *ngIf="elementId; else elseBlock">
          {{
          "ActionsModule.AddContainerOutcomeComponent.editContainerOutcomeDetails"
          | translate
          }}
        </span>
        <ng-template #elseBlock>
          {{ "shared.addNewContainerOutcome" | translate }}
        </ng-template>
      </h1>
    </div>
  </div>

  <app-title-description-form [formDataObservable]="outcomeElement$" [formMode]="formMode" (cancel)="onCancel()"
    (submit)="onSubmit($event)"></app-title-description-form>
</section>