@import '../../../../../assets/scss/variables.scss';
@import '../../../../../assets/design-system/_colors.scss';

.records-list-container {
  .content_wrapper {
    background: #f5f5f5;
    padding: 0.75rem;
    border-radius: 0.75rem;
  }

  #main-btns-container {
    gap: 1em;

    .btn-card {
      background: #fff;
      display: flex;
      gap: 1em;
      align-items: center;
      border-radius: 0.75rem;
      cursor: pointer;

      font-size: 15px;
    }
  }

  /**************** Table ********************/

  .show-all-btn,
  .hide-all-btn {
    ::ng-deep .mdc-button__label {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #fff;
    }

    img {
      width: 33px;
      height: 33px;
      object-fit: contain;
    }
  }

  ::ng-deep app-records-list .mat-mdc-table {
    thead {
      background-color: #20545f !important;
    }
  }

  table {
    margin-top: -10px;
    width: 100%;

    tr {
      border-bottom: 1px solid #c4d7ed;
      font-size: 16px;
    }

    .mat-column-icon {
      border-top-right-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
    }

    .mat-column-actions {
      border-top-left-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
    }
  }

  .file-icon {
    padding: 3px;
    @media (min-width: 1332px) {
      & {
        padding: 0;
      }
    }
  }

  tr.example-detail-row {
    height: 0;
    display: contents;
    opacity: 1;
    visibility: visible;
  }

  .view-row-details {
    display: table-cell !important;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  td.mat-column-expandedDetail {
    border: 2px solid #e0a4a9;
    box-shadow: 1px 1px 5px #e0a4a9;
  }

  .example-element-detail {
    overflow: hidden;
    display: flow-root;
  }

  ul.detail-element {
    display: inline-block;
    width: 100%;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      margin: 15px 0;
      padding: 0 5px;

      p {
        font-size: 13px;
        color: #808080;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  ::ng-deep {
    .mat-paginator {
      background: none;
    }

    @media only screen and (max-width: 360px) {
      .mat-button-wrapper {
        font-size: 13px;
      }
    }

    .mat-paginator-container {
      height: 60px;
      @media only screen and (max-width: 1200px) {
        justify-content: center !important;
      }
    }
  }

  ::ng-deep .mat-paginator-page-size.ng-star-inserted {
    display: none;
  }

  .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
    background: rgb(0 0 0 / 43%);
  }

  ::ng-deep .cdk-overlay-transparent-backdrop,
  .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1 !important;
  }

  ::ng-deep .mat-paginator-page-size.ng-star-inserted {
    display: none;
  }

  .example-element-description {
    display: flex;
  }

  .options-btn {
    background-color: #362f30;
    height: 40px;
  }

  .options-eye {
    padding: 9px;
    background: #f3f4f6;
    border-radius: 50%;
  }

  /* .tabs-container {
  background: #fff;
  padding: 0.2em 0.6em;
  border-radius: 12px;
  margin-bottom: 0.4em;
  @media (min-width: 1332px) {
    & {
      margin-bottom: 1em;
    }
  }
} */

  .options-container {
    display: flex;
    justify-content: center;
    gap: 0;
    align-items: center;
    @media (min-width: 1332px) {
      & {
        gap: 1.2em;
      }
    }
  }

  .restricted-img {
    cursor: default;
  }

  /******Expanded element*********/

  .bg-sign {
    background-color: #e9f7ef;
  }

  .bg-conservatism {
    background-color: #fce7e5;
  }

  .bg-opinion-refrain {
    background-color: #fff4e6;
  }

  .bg-no-action {
    background-color: #f0f2f5;
  }

  .option-container {
    background: #f2f4f5;
    border-radius: 18px;
    border: 1px solid #f2f4f5;
    text-align: center;
    padding: 0.3em 0.6em;
    @media (min-width: 1332px) {
      & {
        padding: 0.6em 1em;
      }
    }
  }

  .option-container:hover,
  .option-container:focus-within {
    background: #3db5b5;
    color: #fff;
  }

  ::ng-deep app-records-list .mat-mdc-cell {
    position: relative;
  }

  ::ng-deep app-records-list .mat-td-link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  ::ng-deep {
    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none !important;
    }
  }

  ::ng-deep {
    .mainTabHeader {
      width: fit-content;
      border: none;
      margin-bottom: 24px;

      .mat-mdc-tab {
        background-color: #ffffff;
        margin-inline-end: 10px;
        border-radius: 10px;
      }

      .mdc-tab.mdc-tab--active,
      .mdc-tab:hover {
        background-color: #20545f;
        border-color: #3db5b5;

        .mdc-tab__text-label {
          color: #fff !important;
        }
      }
    }
  }

  ::ng-deep mat-tab-header {
    border: 0;
  }

  ::ng-deep mat-tab-header .mat-mdc-tab-labels {
  }

  .autoWidth ::ng-deep mat-tab-header .mat-mdc-tab-label-container {
    max-width: 25rem;
    background-color: transparent !important;
  }

  .autoWidth ::ng-deep mat-tab-header {
    background-color: transparent !important;
    margin-bottom: 0;
    border-bottom: 1px solid $gray-200;
    border-radius: 0;
  }

  ::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active) {
    border: none !important;
  }

  ::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
    color: $gray-700 !important;
  }

  ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
    flex: 0;
    padding: 0;
    min-width: fit-content;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    margin-left: 1rem;
    // height: auto;
    // padding-bottom: 0.3rem;
  }

  ::ng-deep .mat-mdc-tab .mdc-tab__ripple::before {
    background-color: transparent;
  }

  ::ng-deep .mat-ripple .mat-mdc-tab-ripple {
    display: none;
  }

  ::ng-deep mat-tab-header .mat-mdc-tab-labels {
    padding: 0;
    background: transparent;
    box-shadow: none;
    justify-content: start;
  }

  ::ng-deep mat-tab-header,
  .mat-mdc-tab-list {
    margin-bottom: 0;
    border-radius: 0 !important;
  }

  ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active {
    background: transparent !important;
    box-shadow: none;
    border-bottom: 2px solid $rose-500 !important;
  }

  ::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active):hover {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid $rose-200 !important;
  }

  // ::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active):hover .mdc-tab__text-label {
  //   color: $rose-200 !important;
  // }

  ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active .mdc-tab__text-label,
  ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
    color: $rose-500 !important;
  }

  .filters-container {
    background-color: transparent;
    padding: 0;
  }

  .active_record_conatiner {
    margin-bottom: 10px;

    ::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active) {
      border: none !important;
      padding: 0;
    }

    ::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
      color: #5e5e5e !important;
    }

    ::ng-deep mat-tab-header {
      border-radius: 5px 5px 0 0;
    }

    ::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active):hover .mdc-tab__text-label {
      color: #fff;
    }

    ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active .mdc-tab__text-label,
    ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active:focus .mdc-tab__text-label,
    ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
      color: #a38a5f !important;
    }

    ::ng-deep mat-tab-header .mdc-tab:hover {
      color: #5e5e5e !important;
    }

    ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active,
    ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active:focus,
    ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active:hover,
    ::ng-deep mat-tab-header .mdc-tab:hover {
      background-color: transparent !important;
      box-shadow: none !important;
      border-bottom: 3px solid #a38a5f;
      border-radius: 0;
    }

    ::ng-deep mat-tab-header .mat-mdc-tab-labels {
      border-radius: 0.75rem;
      background: #fff;
      box-shadow: none;
      padding: 0.375rem;
      padding-inline-start: 0;
      padding-bottom: 0;
      border-radius: 0.75rem 0.75rem 0 0;
    }
  }

  .gold-filter {
    margin-inline-end: 5px;
    filter: invert(54%) sepia(35%) saturate(384%) hue-rotate(358deg) brightness(96%) contrast(89%);
  }

  .grey-filter {
    margin-inline-end: 5px;
    filter: invert(36%) sepia(5%) saturate(11%) hue-rotate(345deg) brightness(97%) contrast(93%);
  }

  .tab-content {
    background: #fff;
    padding: 15px;
    border-radius: 0.75rem;
    min-height: 385px;
  }

  .active_record_conatiner {
    background: #fff;
    padding: 15px;
  }

  .record-card {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background: #fff;
    height: 25.625rem;
    transition: box-shadow 0.25s ease, transform 0.25s ease;

    &:hover {
      cursor: pointer;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
      transform: translateY(-2px);
    }
  }

  .mn-2 {
    margin-inline-end: 10px;
  }

  .gray-500 {
    color: #9e9e9e;
  }

  .actionItem {
    display: flex;
    align-items: center;

    span {
      margin: 0 5px;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    img {
      margin: 0;
      width: 1rem;
    }
  }

  .signatures p {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
  }

  .signatures h4 {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    color: #000;
  }

  .custom-file-name {
    gap: 3px;
    display: flex;
    min-height: 30px;
    align-items: center;
    margin: 0;
  }

  ds-button {
    cursor: pointer;
  }

  .line {
    margin: 0.3rem 0;
  }
}

.blue-text {
  color: #007aff;
}
