@import '../../../../assets/scss/variables.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('/assets/images/Pattern.png');
  background-repeat: no-repeat;
  background-position: right top;
}
.login-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #333 !important;
  }

  input:-internal-autofill-selected {
    background-color: #fff !important;
  }
  .card {
    margin: 20px 0;
    width: 90%;
    max-width: 490px;
    //border-radius: 10px;
    //box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;

    .card-header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: unset;
      border-bottom: none;

      p {
        line-height: 44px;
      }
    }

    .card-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1.9rem;
      padding: 0px;
      .subHeader {
        display: flex;
        justify-content: center;
        margin-bottom: 1.7em;
        width: 100%;
      }
    }
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    line-height: 20px;
  }

  small {
    display: block;
  }

  .input-container {
    position: relative;
    margin-top: 8px;

    .username-icon-container,
    .password-icon-container {
      position: absolute;

      img {
        cursor: pointer;
      }
    }

    .username-icon-container {
      top: 0.9em;
      left: 0.9em;
    }

    .password-icon-container {
      top: 0.9em;
      left: 0.6em;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    line-height: 24px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px 14px;
    outline: none;
    height: 55px;
    &.ng-valid {
      border-color: #128cb5;
    }
    &.ng-invalid.ng-touched {
      border-color: $color-error-surface-default;
    }
  }

  .rememberMe-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  input[type='checkbox'] {
    cursor: pointer;
    width: 20px;
    height: 20px;
    accent-color: $light-grey-color;
  }

  .form-submit {
    width: 100%;
    margin-top: 20px;
  }

  button {
    width: 100%;
    height: 65px;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: #283d3f !important;
      cursor: pointer;
    }
  }

  button[disabled] {
    opacity: 0.6;
    cursor: unset;
  }

  .invalid-feedback {
    color: red;
    margin-top: 5px;
  }
}
.bg-5BBDF6 {
  background-color: #043049 !important;
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .card-header img {
    width: 80%;
  }
  .mb-5 {
    margin-bottom: 1rem !important;
  }
  .card-body {
    margin-top: 0.9rem;
    .subHeader {
      margin-bottom: 0.7em;
    }
  }
}
