@import "../../../../../assets/scss/variables.scss";

.add-btn {
  img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
}

.add-btn {
  background-color: #362f30;
}

@media (max-width: 576px) {
  .add-btn {
    max-height: 46px;
  }
  .mt-s {
    margin-top: 1em;
  }
}

/** Cards  **/
a {
  text-decoration: none;
}

img {
  object-fit: contain;
  height: 30px;
}

.animate {
  transition: transform 250ms ease-in-out;
}

.animate:hover,
.animate:focus-visible {
  transform: scale(1.1);
}

section {
  .section-header {
    margin-bottom: 4em;
    .title-container {
      gap: 10px;
    }
    @media (max-width: 992px) {
      & {
        margin-bottom: 3em;
      }

      .title-container,
      .add-btn-container {
        margin-bottom: 1.3em;
      }
      .title-container {
        order: 1;
      }

      .paginator-container {
        order: 3;
      }
      .add-btn-container {
        order: 2;
      }
    }
  }

  .card {
    margin-bottom: 2.5em;
    min-width: 275px;

    .card-content {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      border-top: 20px solid $primary-color;
      border-bottom-right-radius: 25px;
      height: 100%;
      background-color: #fff;
      //border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 8px;
      gap: 5px;

      .nav-item {
        padding: 5px;

        .icon {
          object-fit: cover;
          height: 48px;
          width: 48px;
          object-fit: cover;
        }
      }

      p {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}

.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5em;
  margin-bottom: 1em;

  .transform {
    transform: scale(1.5);
  }

  .edit-btn {
    border-radius: 20px;
    width: 22%;
    font-size: 1rem;
  }

  .delete-btn {
    max-height: 37px;
    mat-icon {
      //height: 20px;
    }
  }
}
