<section>
  <div class="row justify-content-between align-items-center | section-header">
    <div class="col-12 col-lg-3 d-flex align-items-center | title-container">
      <a routerLink="../../">
        <img src="assets/icons/right-arrow.png" alt="Navigation back." class="arrow-icon"
          [class.rotate-arrow]="lang === 'en'" />
      </a>
      <h1 class="fs-600 text-gray-900 fw-bold">
        {{
        "SecretarialModule.DepartmentsListComponent.departments" | translate
        }}
      </h1>
    </div>

    <div class="col-lg-5 col-12 | paginator-container">
      <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="[20, 30, 40, 50]" (page)="pageEvent = $event; onPaginationChange($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>

    <div class="col-12 col-lg-4 d-flex justify-content-end | add-btn-container">
      <button mat-fab extended [routerLink]="['add']" class="d-flex align-items-center | add-btn">
        <mat-icon class="d-flex align-items-center">
          <img src="assets/icons/plus.png" />
        </mat-icon>
        {{ "shared.addNewDepartment" | translate }}
      </button>
    </div>
  </div>

  <div class="row flex-wrap justify-content-around">
    <ng-container *ngIf="!isLoading; else elseBlock">
      <div *ngFor="let department of departments" class="col-12 col-sm-3 | card">
        <div class="d-flex flex-column justify-content-around align-items-center | card-content">
          <p>
            <a (click)="onViewElement(department.id)" class="fs-600 text-primary fw-bold d-block | animate">
              <span *ngIf="lang === 'ar'; else elseBlock">
                {{ department.title }}
              </span>
              <ng-template #elseBlock> {{ department.titleEn }} </ng-template>
            </a>
          </p>
          <p>{{ department.admin?.name }}</p>
          <div class="buttons-container">
            <a (click)="onViewElement(department.id)" class="cursor-pointer | options-eye"
              matTooltip="{{ 'shared.viewInternalDepartments' | translate }}">
              <img src="assets/icons/options-eye.svg" alt="View sector details" />
            </a>

            <a (click)="onViewEmployees(department.id)" class="cursor-pointer | transform"
              matTooltip="{{ 'shared.viewEmployees' | translate }}">
              <mat-icon>people</mat-icon>
            </a>

            <a (click)="onEditElement(department.id)" class="cursor-pointer | transform"
              matTooltip="{{ 'shared.edit' | translate }}">
              <mat-icon>edit</mat-icon>
            </a>

            <!-- <button
              mat-raised-button
              color="primary"
              class="edit-btn"
              (click)="onEditElement(department.id)"
            >
              {{ "shared.edit" | translate }}
            </button> -->

            <a (click)="onDeleteElement(department)" class="cursor-pointer | transform"
              matTooltip="{{ 'shared.delete' | translate }}">
              <mat-icon style="color: red">delete</mat-icon>
            </a>

            <!--             <button
              class="delete-btn"
              mat-fab
              color="warn"
              aria-label="Example icon button with a delete icon"
              (click)="onDeleteElement(department)"
            >
              <mat-icon>delete</mat-icon>
            </button> -->
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #elseBlock>
      <div class="d-flex justify-content-center align-items-center" style="width: 100%">
        <mat-spinner [diameter]="50"></mat-spinner>
      </div>
    </ng-template>
  </div>
</section>