/* home-statistics-section.component.scss */
@use 'src/assets/design-system/colors' as *;
@import '../../../../../assets/scss/variables.scss';
/* 1) Wrapper for all cards */
.customCanvas {
  max-height: 232px;
}
.statistics-wrapper {
  display: flex;
  // gap: 16px;
  flex-wrap: wrap;

  /* Base styles for every card */
  .statistics-item {
    background: #ffffff;
    border-radius: 0.75rem;
    padding: 1rem;

    .legends {
      //display: flex;
      //flex-direction: row;
      //justify-content: space-around;

      //gap: 8px;

      .legend {
        display: flex;
        align-items: center;

        .box {
          width: 14px;
          height: 10px;
          //border-radius: 3px;
          margin-right: 8px;

          &.done {
            background-color: $color-primary-surface-subtle;
          }

          &.scheduled {
            background-color: $color-primary-surface-darker;
          }

          &.under-processing {
            background-color: $color-primary-200;
          }
        }

        .text {
          font-size: 14px;
          color: #000000;
          font-weight: 400;
          margin-inline-start: 8px;
        }
      }
    }

    .top {
      .icon {
        width: 32px;
        height: 32px;
        margin-right: 12px;
      }

      .info {
        margin-bottom: 12px;
        .value {
          font-size: 28px;
          font-weight: 700;
          color: #123e6b;
          margin: 0;
        }

        .label {
          font-size: 14px;
          color: #555555;
          margin: 0;
        }
      }
    }

    /* 3) Large card (Transactions) */
    &.large-card {
      flex: 1;
      display: flex;
      flex-direction: column;

      .top {
        text-align: right;
        margin-bottom: 16px;

        .info {
          .value {
            font-size: 36px;
            font-weight: 700;
            color: #123e6b;
            margin: 0;
          }

          .label {
            font-size: 16px;
            color: #555555;
            margin: 0;
          }
        }
      }

      .statistics-content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;

        .pie-chart-container {
          flex: 1;
          max-width: 182px;

          canvas {
            max-width: 220px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .statistics-wrapper {
    gap: 0;
    height: 100%;
  }
}

// Laptop screens: make row, col, wrapper, and item height 100%
@media (min-width: 1024px) and (max-width: 1500px) {
  .statistics-wrapper {
    height: 100%;
  }
  .statistics-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .statistics-item.large-card {
    height: 100%;
  }
  .row {
    //height: 100%;
  }
}
.bg-bage {
  background-color: #f5f5f5 !important;
}
