<div class="d-flex justify-content-between align-items-center mb-3 custom-modal-header">
  <span class="body-bold">
    {{ 'shared.file' | translate }}
  </span>
  <svg width="1.25rem" height="1.25rem" class="cursor-pointer" (click)="onCancel()">
    <use [attr.xlink:href]="'assets/icons/sprite.svg#circle-close'"></use>
  </svg>
</div>

<div mat-dialog-contents class="custom-modal-body">
  <ng-container *ngIf="data.fileType === '.pdf'; else editorBlock">
    <div style="max-width: 100%; max-height: 100%">
      <ng-template #signaturediv>
        <app-signature-place-holder></app-signature-place-holder>
      </ng-template>

      <div style="display: flex; flex-direction: row; max-height: 100%">
        <div style="height: 100%; flex: 4 1 0%">
          <div
            #pdfHolder
            class="pdf-viewer-container"
            [class.thumbnails]="showThumbnails"
            style="border: 1px solid gray; max-width: 100%; display: block; max-height: 100%"
          >
            <div *ngIf="error" class="error mb">
              {{ error.message | json }}
            </div>

            <pdf-viewer
              [src]="pdfFile.pdfSrc"
              [fit-to-page]="true"
              [autoresize]="true"
              [render-text]="false"
              (contextmenu)="contextmenu($event)"
              (error)="onError($event)"
              style="
                display: flex;
                padding: 0px;
                background-color: #aaa;
                box-sizing: border-box;
                height: 100vh;
              "
            ></pdf-viewer>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div
    [style.display]="contextmenuOpened && pdfFile.pdfSrc ? 'block' : 'none'"
    style="background-color: #ddd; box-shadow: 1px 1px 1px 1px #ccc"
    #contextmenuEl
    (contextmenu)="$event.preventDefault()"
  >
    <div style="padding: 0.2em" *ngIf="this.data.showBarcode">
      <a class="cursor-pointer" (click)="createBarcodePlaceholderComponent()"
        >إضافة مكان الباركود</a
      >
    </div>
  </div>

  <ng-template #editorBlock>
    <app-editor [editorFileId]="data.fileId" [requestId]="data.requestId"></app-editor>
  </ng-template>
</div>

<div
  mat-dialog-actions
  class="d-flex justify-content-between align-items-center mt-4 custom-modal-footer"
>
  <button
    *ngIf="this.data.fileType === '.pdf' && this.data.showBarcode"
    class="button button-primary button-lg"
    style="flex: 0 0 69%"
    (click)="onSubmit()"
  >
    {{ 'shared.save' | translate }}
  </button>
  <button
    class="button button-secondary button-lg me-auto"
    style="flex: 0 0 29%"
    (click)="onCancel()"
  >
    {{ 'shared.cancel' | translate }}
  </button>
</div>
