@import "../../../../../assets/scss/variables.scss";

.label-container {
  margin-bottom: 12px;
}

.btn-container {
  display: flex;
  gap: 2em;
  margin-top: 2em;
  justify-content: center;
}

button {
  height: 40px !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.cancel-btn {
  color: #3db5b5 !important;
  background-color: #ebf5f5 !important;
}

.save-btn:not([disabled]) {
  background: #3db5b5;
  color: #fff;
}

@media (max-width: 576px) {
  .mb {
    margin-bottom: 0;
  }

  .mat-form-field-div {
    margin-bottom: 10px;
  }

  .label-container {
    margin-bottom: 15px;
  }

  .footer-container {
    justify-content: center;
  }
}

.parent-card {
  padding: 1em;
  border-radius: 14px;
  color: #545961;
  background-color: #fff;
}

.child-card {
  min-width: 275px;

  .info-content {
    padding: 1em;
    gap: 1.2em;
  }

  .card-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;

    .label {
      font-size: $fs-300;
      font-weight: $fw-regular;
      color: #4b5563;
    }

    .info-data {
      color: $primary-color;
      // font-weight: $fw-bold;
    }

    ::ng-deep #mat-mdc-slide-toggle-1-label {
      font-size: 16px;
      font-weight: bold;
      margin: 0 1em;
    }
  }
}

@media (max-width: 576px) {
  .mb {
    margin-bottom: 0;
  }

  h1 {
    margin: 0 0 15px 0;
  }
  .card {
    margin-top: 1em;
  }
}
