@use 'src/assets/design-system/colors' as *;
@import '../../../../../assets/scss/variables.scss';

.home-calendar {
  padding: 0.75rem;
  gap: 0.75rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.add-btn {
  height: 2.5rem;
  font-size: 0.9rem;
  background-color: $color-primary-surface-default;
  display: flex;
  align-items: center;
  padding: 11px;
  gap: 10px;
  border-radius: 8px;
}

/* upcoming-events.component.scss */
.upcoming-events {
  //max-width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  background: #fff;
  border-radius: 0.75rem;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    h2 {
      margin: 0;
      font-size: 1.25rem;
    }

    mat-icon {
      vertical-align: middle;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .item {
    display: flex;
    align-items: flex-start;
    background-color: $primary-50; /* light primary */
    border-radius: 6px;
    padding: 20px;
    position: relative;

    &.neutral-bg {
      background-color: $secondary-50;
    }

    .menu-btn {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem; /* in RTL, left=leading edge */
      //transform: rotateX(90deg);
      transform: rotate(90deg);
    }

    .details {
      width: 100%;
      padding: 0 1.5rem 0 0; /* space for menu button */

      .title {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
        color: $color-primary-surface-more-darker;
      }

      .meta {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        color: $primary-500;
        gap: 0.5rem;

        mat-icon {
          font-size: 1rem;
          vertical-align: middle;
        }

        span {
          white-space: nowrap;
        }
      }
    }
  }
}

.no-events p {
  color: $gray-300;
  max-width: 80%;
  text-align: center;
  line-height: 1.5 !important;
}
.title {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
