<div class="row gx-3">
  <div class="col-xxl-4 col-5">
    <div class="home-calendar">
      <app-inline-calendar (selectionChange)="onCalendarDateChange($event)">
      </app-inline-calendar>
    </div>
  </div>
  <div class="col-xxl-8 col-7">
    <!-- upcoming-events?.component.html -->
    <div class="upcoming-events">
      <div class="list h-100 p-3">
        <ng-container *ngIf="events?.length === 0">
          <div class="no-events d-flex flex-column align-items-center
           justify-content-center w-100 h-100 m-auto">
            <img class="m-0" src="assets/images/homeNoData.png" alt="No events" />
            <p class="body">{{ 'shared.noEvents' | translate }}</p>
          </div>
        </ng-container>
        <ng-container *ngFor="let ev of events; let even = even">
          <div class="item py-2 px-3 d-flex align-items-center justify-content-between"
               [class.neutral-bg-second]="!even"
               [class.neutral-bg-first]="even">
            <div class="details">
              <div class="body-bold mb-3 title title-max-length">{{ ev.title }}</div>
              <div class="meta">
                <i class="hgi hgi-stroke hgi-calendar-03"></i>
                <span class="text-small d-ltr">{{ ev.meetingDateTime | date:'dd MMM yyyy' }}</span>
                <i class="hgi hgi-stroke hgi-clock-01"></i>
                <span class="text-small">{{ ev.startTime | slice: 0 : 5 }}–{{ ev.endTime | slice: 0 : 5 }}</span>
              </div>
            </div>
            <div class="h-100 d-flex align-items-center
            justify-content-center cursor-pointer">
              <mat-icon>more_vert</mat-icon>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
