@use 'src/assets/design-system/colors' as *;
@import '.././../../../../assets/scss/variables.scss';
@import '.././../../../../assets/scss/shared-details.scss';
@import '.././../../../../assets/scss/shared-modal-tabs.scss';

// =============== Request-Details Specific Styles ===============
// Color variant for rose/pink theme
::ng-deep mat-tab-header .mat-mdc-tab-labels {
  background: $rose-300;
  color: $rose-100;
}
::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
  color: $rose-100 !important;
}
:not(.action-modal) ::ng-deep mat-tab-header .mdc-tab.mdc-tab--active {
  background: $rose-500 !important;
}
::ng-deep mat-tab-header .mdc-tab:hover {
  background: $rose-200;
}
::ng-deep
  .mat-mdc-tab-list:not(.modal-tabs)
  mat-tab-header
  .mdc-tab:hover
  .mdc-tab__text-label
  span {
  color: $rose-100;
}
::ng-deep mat-tab-header .mdc-tab:not(.mdc-tab--active):hover .mdc-tab__text-label {
  color: #fff;
}
::ng-deep
  .mat-mdc-tab-list:not(.modal-tabs)
  mat-tab-header
  .mdc-tab.mdc-tab--active
  .mdc-tab__text-label
  span {
  color: #fff !important;
}
.info {
  padding: 1.25rem 1.5rem;
  gap: 0.75rem;
  border-radius: 0.75rem;
  background: $secondary-50;
}
.gold-line {
  opacity: 0.5;
  color: $secondary-300;
  margin: 0.75rem 0;
  height: 0.0625rem;
}

.gray-700 {
  color: $gray-700;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.attach-container {
  border-radius: 0.75rem;
  border: 1px solid $gray-100;
  background: $gray-50;
  padding: 0.75rem;
  width: 100%;
  margin: auto;
}

textarea {
  border-radius: 0.5rem;
  border: 1px solid #d9d9d9;
  background: $gray-50;
}
.scroll-body ::ng-deep .mat-expansion-panel-body {
  max-height: 44rem;
  overflow: hidden;
}
.sort_btn {
  cursor: pointer;
  padding: 4px;
  &:hover {
    background-color: #ece7df;
  }
}
