<section>
  <div class="row justify-content-between text-primary | mb">
    <div class="col-12 col-md-6 d-flex align-items-center | heading mb">
      <a class="cursor-pointer" (click)="onNavigateBack()">
        <img
          src="assets/icons/right-arrow.png"
          alt="Navigation back."
          class="arrow-icon"
          [class.rotate-arrow]="lang === 'en'"
        />
      </a>

      <h1 class="col-6 fs-800 text-gray-900 fw-bold">
        {{ "shared.secretarialStructure" | translate }}
      </h1>
    </div>
  </div>

  <div class="row flex-wrap justify-content-around">
    <div class="col-12 col-sm-4 | card">
      <div
        class="d-flex flex-column justify-content-around align-items-center | card-content"
      >
        <a
          class="d-flex flex-column justify-content-center align-items-center | nav-item animate"
          routerLink="../committees"
        >
          <img
            src="assets/icons/chart.png"
            class="icon"
            alt="'shared.committees' | translate"
          />
        </a>
        <p>
          <a
            routerLink="../committees"
            class="fs-600 text-gray-900 fw-bold d-block | animate"
          >
            {{ "shared.committees" | translate }}
          </a>
        </p>
      </div>
    </div>

    <div class="col-12 col-sm-4 | card">
      <div
        class="d-flex flex-column justify-content-around align-items-center | card-content"
      >
        <a
          class="d-flex flex-column justify-content-center align-items-center | nav-item animate"
          routerLink="secretarials"
        >
          <img
            src="assets/icons/setting.png"
            class="icon"
            alt="'shared.secretarials' | translate"
          />
        </a>
        <p>
          <a
            routerLink="secretarials"
            class="fs-600 text-gray-900 fw-bold d-block | animate"
          >
            {{ "shared.secretarials" | translate }}
          </a>
        </p>
      </div>
    </div>

    <div class="col-12 col-sm-4 | card">
      <div
        class="d-flex flex-column justify-content-around align-items-center | card-content"
      >
        <a
          class="d-flex flex-column justify-content-center align-items-center | nav-item animate"
          routerLink=""
        >
          <img
            src="assets/icons/activity.png"
            class="icon"
            alt="'shared.secretariatBranches' | translate"
          />
        </a>
        <p>
          <a
            routerLink=""
            class="fs-600 text-gray-900 fw-bold d-block | animate"
          >
            {{ "shared.secretariatBranches" | translate }}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
