@use "src/assets/design-system/colors" as *;
:host
  ::ng-deep
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding: 0;
  border-radius: 0.5rem;
  border: 1px solid $gray-200;
  background: #fff;
  height: 3rem;
  min-height: 3rem;
  margin-right: 2px;
}

::ng-deep
  .mdc-text-field--filled.mdc-text-field--no-label
  .mdc-text-field__input {
  padding: 0 0.75rem;
}
::ng-deep .mat-datepicker-content-container,
::ng-deep .mat-datepicker-content .mat-calendar {
  border-radius: none !important;
  border: none;
  background-color: transparent;
}
::ng-deep .mat-datepicker-content {
  border-radius: 0.5rem !important;
  border: 1px solid $gray-200;
}
::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent;
  border: none;
}
:host ::ng-deep .mdc-text-field {
  overflow: unset;
  padding: 0 !important;
}
::ng-deep
  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border-color: $primary-500;
}
::ng-deep .mat-calendar-body-selected {
  background-color: $primary-50 !important;
  border: 1px solid $primary-500;
  color: $primary-500 !important;
}

::ng-deep
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: $primary-50 !important;
  border: 1px solid $primary-500;
  color: $primary-500 !important;
}
::ng-deep .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  display: none;
}
::ng-deep .mat-calendar-table-header {
  border-bottom: none !important;
  background: #f2f2f2;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  width: 62px !important;
  height: 45px !important;
}
::ng-deep .mat-calendar-table-header-divider::after {
  display: none;
}
::ng-deep .mat-calendar-table-header th,
.mat-calendar-content {
  padding: 0 !important;
}
// ::ng-deep .mat-calendar-table-header th {
//   color: transparent !important; /* Hide the default letter */
//   position: relative;
//   min-width: 2.5em;
//   font-size: 0.95em;
//   font-weight: 500;
//   height: 2.2em;
// }

// ::ng-deep .mat-calendar-table-header th:nth-child(1)::after {
//   content: "أح";
//   color: #333;
//   position: absolute;
//   left: 0;
//   right: 0;
//   text-align: center;
// }
// ::ng-deep .mat-calendar-table-header th:nth-child(2)::after {
//   content: "اث";
//   color: #333;
//   position: absolute;
//   left: 0;
//   right: 0;
//   text-align: center;
// }
// ::ng-deep .mat-calendar-table-header th:nth-child(3)::after {
//   content: "ثل";
//   color: #333;
//   position: absolute;
//   left: 0;
//   right: 0;
//   text-align: center;
// }
// ::ng-deep .mat-calendar-table-header th:nth-child(4)::after {
//   content: "أر";
//   color: #333;
//   position: absolute;
//   left: 0;
//   right: 0;
//   text-align: center;
// }
// ::ng-deep .mat-calendar-table-header th:nth-child(5)::after {
//   content: "خم";
//   color: #333;
//   position: absolute;
//   left: 0;
//   right: 0;
//   text-align: center;
// }
// ::ng-deep .mat-calendar-table-header th:nth-child(6)::after {
//   content: "جم";
//   color: #333;
//   position: absolute;
//   left: 0;
//   right: 0;
//   text-align: center;
// }
// ::ng-deep .mat-calendar-table-header th:nth-child(7)::after {
//   content: "سب";
//   color: #333;
//   position: absolute;
//   left: 0;
//   right: 0;
//   text-align: center;
// }
