<mat-form-field>
  <!-- <mat-label *ngIf="range">Enter a date range</mat-label>
  <mat-label *ngIf="!range">{{ placeholder }}</mat-label> -->
  <ng-container *ngIf="range; else singleDate">
    <ng-container *ngIf="parentFormGroup as fg">
      <mat-date-range-input [formGroup]="fg" [rangePicker]="picker">
        <input
          disabled
          matStartDate
          [placeholder]="placeholderStart"
          [formControlName]="formControlName ? formControlName + '.start' : null"
        />
        <input
          disabled
          matEndDate
          [placeholder]="placeholderEnd"
          [formControlName]="formControlName ? formControlName + '.end' : null"
        />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <!-- For range picker -->
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <svg
          matDatepickerToggleIcon
          width="1.25rem"
          height="1.25rem"
          viewBox="0 0 24 24"
          fill="none"
        >
          <use [attr.xlink:href]="'assets/icons/sprite.svg#calendar'"></use>
        </svg>
      </mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </ng-container>
  </ng-container>
  <ng-template #singleDate>
    <input
      matInput
      [matDatepicker]="pickerSingle"
      [placeholder]="placeholder"
      [formControl]="control"
      [max]="maxDate"
      [disabled]="disabled"
      readonly
      (dateChange)="emitDate($event.value)"
    />
    <!-- For single date picker -->
    <mat-datepicker-toggle matIconSuffix [for]="pickerSingle">
      <svg matDatepickerToggleIcon width="1.25rem" height="1.25rem" viewBox="0 0 24 24" fill="none">
        <use [attr.xlink:href]="'assets/icons/sprite.svg#calendar'"></use>
      </svg>
    </mat-datepicker-toggle>
    <mat-datepicker #pickerSingle></mat-datepicker>
  </ng-template>
</mat-form-field>
